<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.webServer>
      <handlers>
        <remove name="aspNetCore"/>
        <add xdt:Transform="Replace" name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
      </handlers>
      <aspNetCore xdt:Transform="Replace" processPath="dotnet" arguments=".\BA.WesternSiding.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <rewrite xdt:Transform="Insert">
        <rules>
          <clear/>
          <rule name="RedirectToHTTPS" stopProcessing="false">
            <match url="(.*)"/>
            <conditions>
              <add input="{HTTPS}" pattern="^OFF$" ignoreCase="true"/>
              <add input="{HTTP_POST}" pattern="^(www\.)(.*)$" ignoreCase="true" negate="true"/>
            </conditions>
            <action type="Redirect" url="https://{C:2}{REQUEST_URI}" redirectType="Permanent"/>
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>