@page "/boise-replacement-windows-doors-installations-siding-contractors"
@model AboutModel
@{
    ViewData["Title"] = "About Western Siding - Local Seamless Siding and More";
}
@section Metatags
{
    <meta name="description" content="Boise Replacement Windows - Idaho Siding Contractors - Doors Installers. Western Siding is a locally owned company. We began doing business in 1970...">
    <meta name="keywords" content="">
    <link rel="canonical" href="https://www.westernsiding.com/boise-replacement-windows-doors-installations-siding-contractors" />
}
<main>
    <div class="inner">
        <article id="content">
            <h1>
                Boise Replacement Windows - Idaho Siding Contractors - Doors Installers
            </h1>
            <p>
                Western Siding is a locally owned company. We began doing business in 1970 when our founder Larry Bruck brought the first continuous gutter machine into the valley. We soon expanded and added permanent siding and replacement windows to our product line. Over the years we have installed siding and windows in thousands and thousands of homes.
            </p>
            <p>
                <strong>Quality Home Improvement Products | What We Offer at Western Siding</strong>
                <br />
                We offer a large selection of home improvement products, from a variety of manufacturers. The common thread in all of these products is they are from suppliers that we know and trust. This gives us the ability to offer them to you with confidence and pride. We accept all forms of payment, including credit cards.
            </p>
            <p>
                <strong>Siding Products | Replacement Windows | Doors Installations</strong>
                <br />
                Replacement patio doors
                <br />
                Replacement entry doors
                <br />
                Aluminum soffit and fascia
                <br />
                Decorative trim and accents
                <br />
                Vinyl siding, Steel, aluminum and seamless steel siding
                <br />
                Replacement windows including; Sliders, Double hung, Bays and Bows
            </p>
        </article>
    </div>
</main>
