@page "/about-us"
@model AboutModel
@section Header
{
    <title>About Us @@ Western Siding | Meridian, Idaho</title>
    <link rel="canonical" href="https://westernsiding.com/about-us" />
    <meta name="description" content="Since 1970, Boise Siding has been Idaho's 1st choice for replacement windows, siding products, and door installations. Call Today: 208-855-0100">
    <meta name="referrer" content="unsafe-url">
    <meta name="of:title" content="Western Siding" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="Western Siding is Idaho's premiere window replacement, siding products, and door installation specialists." />
    <meta name="og:site_name" content="https://westernsiding.com" />

    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "AboutPage",
        "name": "About Us @@ Western Siding | Meridian, Idaho",
        "description": "Since 1970, Boise Siding has been Idaho's 1st choice for replacement windows, siding products, and door installations.",
        "publisher": {
        "@@type": "Person",
        "name": "Tom Bruck" }
        },
        {
        "@@context": "https://schema.org/",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "name": "Western Siding Home",
        "item": "https://westernsiding.com"
        },{
        "@@type": "ListItem",
        "position": 2,
        "name": "About Us",
        "item": "https://westernsiding.com/about-us-western-siding"
        }]
        }
        ]
    </script>
}
<main>
    <div class="inner">
        <article id="content">
            <h1>
                About Us @@ Western Siding
            </h1>
            <p>
                Western Siding is a locally owned company. We began doing business in 1970 when our founder Larry Bruck brought the first continuous gutter machine into the valley. We soon expanded and added permanent siding and replacement windows to our product line. Over the years we have installed siding and windows in thousands and thousands of homes.
            </p>
            <p>
                <strong>Quality Home Improvement Products | What We Offer at Western Siding</strong>
                <br />
                We offer a large selection of home improvement products, from a variety of manufacturers. The common thread in all of these products is they are from suppliers that we know and trust. This gives us the ability to offer them to you with confidence and pride. We accept all forms of payment, including credit cards.
            </p>
            <p>
                <strong>Siding Products | Replacement Windows | Doors Installations</strong>
                <br />
                Replacement patio doors
                <br />
                Replacement entry doors
                <br />
                Aluminum soffit and fascia
                <br />
                Decorative trim and accents
                <br />
                Vinyl siding, Steel, aluminum and seamless steel siding
                <br />
                Replacement windows including; Sliders, Double hung, Bays and Bows
            </p>
        </article>
    </div>
</main>
