@page "/contact-us"
@model ContactModel
@section Header
{
    <title>Contact Us @@ Western Siding | Meridian, Idaho</title>
    <link rel="canonical" href="https://www.westernsiding.com/contact-us" />
    <meta name="description" content="Contact Us for Siding, Doors and Windows @@ Western Siding for replacement windows, siding products, and door installations. Call Today (208)855-0100.">
    <meta name="referrer" content="unsafe-url">
    <meta name="of:title" content="Western Siding Contact Us Page" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com/contact-us" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="Contact Us for Siding, Doors and Windows @@ Western Siding for replacement windows, siding products, and door installations. Call Today (208) 855-0100." />
    <meta name="og:site_name" content="https://westernsiding.com" />

    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "ContactPage",
        "name": "Contact Us @@ Western Siding | Meridian, Idaho",
        "description": "Contact Us for Siding, Doors and Windows @@ Western Siding for replacement windows, siding products, and door installations. Call Today: (208) 855-0100.",
        "publisher": {
        "@@type": "Person",
        "name": "Tom Bruck" }
        },
        {
        "@@context": "https://schema.org/",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "name": "Western Siding Home",
        "item": "https://westernsiding.com"
        },{
        "@@type": "ListItem",
        "position": 2,
        "name": "Contact Us @@Western Siding",
        "item": "https://westernsiding.com/contact-us"
        }]
        }
        ]
    </script>
}
<main>
    <div class="inner">
        <article id="content">
            <div class="left">
                <h1>
                    About Us @@ Western Siding | Meridian, Idaho
                </h1>
                <p>
                    Since 1970 Western Siding has installed thousands of windows, doors, and siding for residents of Boise, Idaho and the Treasure Valley. We use the highest quality products available, giving you many options when it comes to style, color, and manufacturer, and provide the best trained and experienced installers we can find. We do business as Larry says, "Like ladies and gentlemen". Give us a call at <strong>208 855-0100</strong> or fill out our contact form below.
                </p>

                <aside>
                    <form id="contact-us" class="contact" method="post">
                        <input type="text" class="form-control" asp-for="contactUsModel.Name" placeholder="Name">
                        <input type="text" class="form-control" asp-for="contactUsModel.Email" placeholder="Email Address">
                        <input type="text" class="form-control" asp-for="contactUsModel.Phone" placeholder="Phone">
                        <input type="text" class="form-control" asp-for="contactUsModel.Referral" placeholder="How did you hear about us?">
                        <textarea row="" col="" class="form-control" asp-for="contactUsModel.Comments" placeholder="Comments"></textarea>
                        <div class="g-recaptcha" data-sitekey="6Lc2-4IUAAAAAC_lppBH0-K-wbaDTyA9lHpijugW"></div>
                        <input name="Form" type="hidden" value="Contact Us"><input type="submit" value="Submit">
                    </form>
                    @ViewData["Message"]
                    @*<form id="contact-us" class="contact">
                        <table>
                            <tr>
                                <td>
                                    Name:
                                </td>
                                <td>
                                    <input name="Name" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Email:
                                </td>
                                <td>
                                    <input name="Email" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Address:
                                </td>
                                <td>
                                    <input name="Address" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Company:
                                </td>
                                <td>
                                    <input name="Company" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Phone:
                                </td>
                                <td>
                                    <input name="Phone" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    How did you hear about us?
                                </td>
                                <td>
                                    <input name="Referral" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Message:
                                </td>
                                <td>
                                    <textarea name="Message">
	</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="align-center">
                                    Verification:
                                    <br />
                                    <span>Please type the letters you see into the box below.</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <img alt="Form Validation Code Image" src="/scripts/form-security/security-image.png.php">
                                    <input class="verification" name="Verification Code" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input name="Form" type="hidden" value="Contact Us"><input type="submit" value="Submit">
                                </td>
                            </tr>
                        </table>
                    </form>*@
                </aside>
            </div>
            <div class="right">

                <div id="contact-info">
                    <p>
                        <strong>Western Siding</strong>
                        <br>
                        850 W Franklin Rd Meridian, Idaho 83642
                        <br>
                        Office: (208) 855-0100
                        <br>
                        Toll-Free (208) 627-0465
                        <br>
                        Monday through Friday 8-5pm
                        <br>
                        Saturday by Appointment
                    </p>
                    <p>
                        <img alt="Contact Western Siding - Boise, Idaho Siding Contractors" src="/images/contact-western-siding.jpg" width="260" height="83" />
                    </p>
                </div>
            </div>
        </article>
    </div>
</main>
