@page "/entry-patio-door-installation-boise"
@model BA.WesternSiding.Pages.DoorsModel
@{
    ViewData["Title"] = "Boise French Doors - Patios Doors Installations @ Western Siding";
}
@section Metatags
{
    <meta name="description" content="Door Installation | Boise, Idaho. For over 20 years, the backbone of Western Siding has been our quality products and professional installation. Your...">
    <meta name="keywords" content="">
    <link rel="canonical" href="https://www.westernsiding.com/entry-patio-door-installation-boise" />
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li>
                        <a asp-page="/Doors/EntryDoors">Entry Doors</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/ClassicFrenchDoor">Classic French Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/RivieraFrenchSlider">Riviera French Slider</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/NewHorizonPatioDoor">New Horizon Patio Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/SlidingPatioDoor2200">2200 Series Sliding Patio Door</a>
                    </li>
                </ul>
            </nav>
            <h1>
                <img alt="Amerimax Windows and Doors" class="float-right" height="48" src="/images/amerimax-windows-doors.png" width="200" /> Door Installation | Boise, Idaho
            </h1>
            <p>
                For over 20 years, the backbone of Western Siding has been our quality products and professional installation. Your door replacement is so much more than just a remodel, it’s an experience. Whether you are looking to enhance your home's style, increase curb value, ensure the safety of your home, or just increase the energy efficiency we can help! We offer a complete line of replacement doors from Amerimax. Our doors will update the look and energy efficiency of your home, saving you money on your energy bill without maxing out your budget. Our Doors are designed for simple seamless replacement and will fit an existing opening where other doors require costly remodeling. Find the perfect exterior door that will reflect your personal style. The materials we use, the methods of our craftsmanship and the care we take with each job is evident each and every day at Western Siding. Feel free to browse our selection of doors, or let us help find the door that is right for your home. Our experienced Installers can help you choose a product that is right for you, your home, and budget.
            </p>
            <h2>
                Amerimax Door Options
            </h2>
            <p>
                <strong>All Amerimax Patio Doors are available with these options.</strong>
            </p>
            <div id="door-options">
                <div>
                    <div class="wrapper">
                        <h3>
                            <img alt="Expanded Viewing of AG3 Coating on Glass" class="float-right" height="143" src="/images/ag3-coating.png" width="100" />AG3 coating
                        </h3>
                        <p>
                            Ameriglass™ AG3 Low Emissivity glass is coated with a microscopic 12 layer patented formula with three layers of Silver. The ultimate balance of energy savings, solar control and high visibility.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="wrapper">
                        <h3>
                            <img alt="Neat Glass - Naturally Clean Glass" class="float-right" height="66" src="/images/neat-glass.png" width="125" /> Naturally Clean Glass - Let Nature do the Work.
                        </h3>
                        <p>
                            A Titanium Dioxide layer reacts with sun to decompose organic materials on the glass. A Silicon Dioxide layer creates an ultra smooth surface and Hydrophilic action to disperse water evenly or “sheet off ”.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="wrapper">
                        <h3>
                            <img alt="Argon Gas Fill" class="float-right" height="120" src="/images/argon-gas-fill.jpg" width="80" />Argon Gas Fill
                        </h3>
                        <p>
                            Non-toxic, odorless and invisible Argon gas fill enhances the overall energy efficiency and can increase Total Window U Value performance by as much as 12% vs. traditional air fill.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="wrapper">
                        <h3>
                            <img alt="True Warm Logo" class="float-right" height="61" src="/images/true-warm-logo.png" width="200" />True Warm Spacer System
                        </h3>
                        <p>
                            Thermally non-conductive structural foam spacer creates the ultimate in energy saving performance and long-term durability.
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>
