@page
@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore

@model IndexModel
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@section Header
{
    <title>Windows, Doors & Siding @@ Western Siding | Meridian Idaho</title>
    <meta name="description" content="Western Siding is Idaho's premiere Window, Door and Siding contractor.  CALL Today:(208) 855-0100" />
    <link rel="canonical" href="https://westernsiding.com" />
    <meta name="referrer" content="unsafe-url">
    <meta name="og:title" content="Western Siding" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="Western Siding is Idaho's premiere window replacement, siding products, and door installation specialists." />
    <meta name="og:site_name" content="https://westernsiding.com" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@WesternSiding">
    <meta name="twitter:title" content="Western Siding is Idaho's premiere Window, Door and Siding contractor.  CALL Today:(208) 855-0100">
    <meta name="twitter:description" content="Western Siding is Idaho's premiere Window, Door and Siding contractor.  CALL Today:(208) 855-0100">
    <script type="application/ld+json">
        [{"@@context":"http://schema.org","@@type":"LocalBusiness","logo":"https://westernsiding.com/images/western-siding-logo.png","name":"Western Siding","url":"https://westernsiding.com","image":"https://westernsiding.com/images/contact-western-siding.jpg","priceRange":"$$$$","telephone":"+1-208-855-0100","address":{"streetAddress":"850 W Franklin Rd","addressLocality":"Meridian","addressRegion":"ID","postalCode":"83642","addressCountry":"United States","@@type":"PostalAddress"},"contactPoint":{"@@type":"ContactPoint","contactType":"Sales","email":"Tom@westernsiding.com","telephone":"+1-208-855-0100"},"sameAs":["https://www.facebook.com/WesternSidingIdaho/","https://www.bbb.org/us/id/meridian/profile/siding-contractors/western-siding-1296-1000020083","https://twitter.com/westernsiding"]},{"@@context":"http://schema.org","@@type":"Website","@@id":"https://westernsiding.com/#site","name":"Western Siding","url":"https://westernsiding.com","contentRating":"G","keywords":"siding, doors, windows, installation, replacement, idaho, home exterior"},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://westernsiding.com/","name":"Windows, Doors & Siding @@ Western Siding | Meridian Idaho","description":"Western Siding is Idaho's premiere window replacement, siding products, and door installation specialists.","publisher":{"@@type":"Person","name":"Tom Bruck"}}]
    </script>
}

<!-- This is a comment-->

<div id="slideshow">
    <ul class="bxslider">
        <li>
            <img alt="exterior-siding" src="/images/slideshow/main/exterior-siding.jpg">
        </li>
        <li>
            <img alt="french-doors" src="/images/slideshow/main/french-doors.jpg">
        </li>
        <li>
            <img alt="ovation-siding" src="/images/slideshow/main/ovation-siding.jpg">
        </li>
        <li>
            <img alt="through-the-window" src="/images/slideshow/main/through-the-window.jpg">
        </li>
        <li>
            <img alt="windows" src="/images/slideshow/main/windows.jpg">
        </li>
    </ul>
</div>
<main>
    <div class="inner">
        <article id="content">
            <div id="buttons">
                <div class="windows">
                    <div>
                        <div>
                            <img src="/images/western-siding-logo.png" alt="Windows Installed by Western Siding"> We offer replacement windows and doors from Amerimax's wide product line. Our replacement windows are super energy efficient and are custom made for your home so installation becomes easy.
                            <a asp-page="/Windows">More About Windows</a>
                        </div>
                        <span>
                            Windows
                        </span>
                    </div>
                </div>
                <div class="doors">
                    <div>
                        <div>
                            <img src="/images/western-siding-logo.png" alt="Doors Installed by Western Siding"> We offer a complete line of replacement doors from Amerimax. Regular Sliding glass, Riviera French Slider, and Versailles Hinged Doors will update the look and energy efficiency of your home.
                            <a asp-page="/Doors">More About Doors</a>
                        </div>
                        <span>
                            Doors
                        </span>
                    </div>
                </div>
                <div class="siding">
                    <div>
                        <div>
                            <img src="/images/western-siding-logo.png" alt="Siding Installed by Westenr Siding"> Western Siding offers a full line of siding products from some of the best quality manufacturers in the siding business. Vinyl siding and aluminum siding from Mastic and steel from PlyGem.
                            <a asp-page="/Siding">More About Siding</a>
                        </div>
                        <span>
                            Siding
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <h1>
                    Idaho Siding Contractors - Replacement Windows Installations | Western Siding Meridian, Idaho
                </h1>
                <p>
                    Western Siding serving Boise, Idaho and the Treasure Valley was established in 1970 by Larry Bruck. We have grown and prospered over the last four decades by living up to our mission. We feel by providing quality siding products and professional siding installations we can make our customers happy that they chose Western Siding. We do business, as Larry says, "Like ladies and gentlemen". Western Siding does not phone solicit, or use use high pressure sales tactics, and we don't play games with our siding pricing. We hate to be sold things that way and we refuse to do that to our customers.
                </p>
                <p>
                    <strong>Visit our Showroom for Quality Siding Installations and Window Replacements</strong>
                    <br />
                    We invite you to shop at our showroom where we can demo our siding installations process and confirm to you the quality of our siding and window replacement products. Some of the home improvement products we provide are: vinyl siding, steel, aluminum and seamless steel siding. In addition to siding products we also offer aluminum soffit and fascia, decorative trim and accents, replacement windows including; sliders, double hung, bays and bows, replacement patio doors, and replacement entry doors.
                </p>
                <p>
                    <strong>Siding Contractors Serving Boise, Meridian, Eagle, Nampa, Caldwell, and the Idaho Treasure Valley</strong>
                    <br />
                    Over the years Western Siding has provided siding installations and replacement windows installations in thousands of homes, and businesses throughout Idaho and the Treasure Valley communities of Boise, Meridian, Eagle, Nampa, and Caldwell. Visit the showroom today for our best siding prices and replacement windows installations.
                </p>
                <div>
                    <iframe frameborder="0" height="315" src="https://www.youtube.com/embed/6sI4imSz5LE" width="560"></iframe>
                </div>
            </div>
        </article>
    </div>
</main>
@section Scripts
{
    <script src="~/js/jquery.bxslider.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.bxslider').bxSlider({
                adaptiveHeight: true,
                touchEnabled: true,
                speed: 1000,
                randomStart: false,
                responsive: true
            });
        });
    </script>
}
