@page "/specials-promotions-siding-doors-windows-idaho"
@model PromotionsModel

@section Header {
    <title>Specials and Promotions @@ Western Siding | Boise, Idaho</title>
    <meta name="description" content="Thank you for checking our specials and promotions page.  We are not currently running a promotion at this time." />
    <link rel="canonical" href="https://www.westernsiding.com/boise-siding-costs-prices-promotions-discounts-idaho" />
}
<main>
    <div class="inner">
        <h1>Specials and Promotions @@ Western Siding | Boise, Idaho</h1>
        <p>Thank you for checking our specials and promotions page.  We are not currently running a promotion at this time.</p>
    </div>
</main>
