@page "/specials-promotions-siding-doors-windows-idaho"
@model PromotionsModel

@section Header {
    <title>Specials and Promotions @@ Western Siding | Boise, Idaho</title>
    <meta name="description" content="Thank you for checking our specials and promotions page.  We are not currently running a promotion at this time." />
    <link rel="canonical" href="https://westernsiding.com/specials-promotions-siding-doors-windows-idaho" />
}
<div class="banner banner-about">
    <div>
        <div class="inner">
            <h2>
                Promotions
            </h2>
            <span class="breadcrumb">
                <a href="/">Home</a> / Promotions
            </span>
        </div>
    </div>
</div>
<main>
    <div class="inner">
        <article id="content">
            <h1>Promotions and Specials</h1>
            <p>Thank you for checking our specials and promotions page.  We are not currently running a promotion at this time.</p>
        </article>
    </div>
</main>
