@page "/boise-siding-costs-prices-promotions-discounts-idaho"
@model BA.WesternSiding.Pages.PromotionsModel
@{
    ViewData["Title"] = "Discount Promotions @ Western Siding";
}
@section Metatags
{
    <meta name="description" content="Free Triple Low-E Glass on all windows purchased between Now and March 15, 2019!. Because our quality and prices are so good, we...">
    <meta name="keywords" content="">
    <link rel="canonical" href="https://www.westernsiding.com/boise-siding-costs-prices-promotions-discounts-idaho" />
}
<main>
    <div class="inner">
        <article id="content">
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6sI4imSz5LE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <h1>
                Free Triple Low-E Glass on all windows purchased between Now and March 15, 2019!
            </h1>
            <p>
                <img alt="Amerimax Windows Special" class="float-right" src="/images/amerimax-windows-special.jpg" />
            </p>
            <p>
                Because our quality and prices are so good, we tend not to do "sales". But you know what? We've teamed up with Amerimax to offer a rare sale! Well, maybe not a sale, but a heck of a deal!
            </p>
            <p>
                Right now, get free Triple Low-E glass on all energy-effificient Amerimax windows from Western Siding! It's a great time to protect your home from the heat of the summer and the cold of the winter.
            </p>
            <p>
                Don't wait! This heck-of-a-deal ends March 15th. Give us a call at 208-855-0100
            </p>

        </article>
    </div>
</main>
