@page "/boise-siding-windows-installations-estimate-idaho"
@model BA.WesternSiding.Pages.RequestEstimateModel
@{
    ViewData["Title"] = "RequestEstimate";
}
@section Metatags
{
    <meta name="description" content="Schedule a Free Siding or Replacement Windows Estimate. We offer our best siding prices to Boise, Idaho and the Treasure Valley communities of...">
    <meta name="keywords" content="">
    <link rel="canonical" href="https://www.westernsiding.com/boise-siding-windows-installations-estimate-idaho" />
}
<main>
    <div class="inner">
        <article id="content">
            <h1>
                <img alt="Siding Costs - Replacement Windows Free Estimate" class="float-right" height="430" src="/images/free-siding-windows-estimate.jpg" width="314" /> Schedule a Free Siding or Replacement Windows Estimate
            </h1>
            <p>
                We offer our best siding prices to Boise, Idaho and the Treasure Valley communities of Meridian, Eagle, Nampa, Caldwell, Star and Kuna right up front when we present the Western Siding free siding costs estimate. This service consists of a detailed proposal for siding your residential home, business office or commercial properties. We also provide our best replacement windows prices with our free replacement windows cost estimate. Fill out our estimate form below or give us a call at <strong>208 855-0100</strong>.
            </p>
            <form id="estimate" class="contact">
                <table>
                    <tr>
                        <td>
                            Name:
                        </td>
                        <td>
                            <input name="Name" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email:
                        </td>
                        <td>
                            <input name="Email" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Phone:
                        </td>
                        <td>
                            <input name="Phone" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Service:
                        </td>
                        <td>
                            <span>
                                <input name="Service[]" type="checkbox" value="Siding" /> Siding
                            </span>
                            <span>
                                <input name="Service[]" type="checkbox" value="Windows" /> Windows
                            </span>
                            <span>
                                <input name="Service[]" type="checkbox" value="Doors - Patio Doors" /> Doors/Patio Doors
                            </span>
                            <span>
                                <input name="Service[]" type="checkbox" value="Eaves and Overhangs" /> Eaves and Overhangs
                            </span>
                            <span>
                                <input name="Service[]" type="checkbox" value="Repairs" /> Repairs
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Additional Information:
                        </td>
                        <td>
                            <textarea name="Additional Information">
</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="align-center">
                            Verification:
                            <br />
                            <span>Please type the letters you see into the box below.</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img alt="Form Validation Code Image" src="/scripts/form-security/security-image.png.php">
                            <input class="verification" name="Verification Code" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input name="Form" type="hidden" value="Contact Us"><input type="submit" value="Submit">
                        </td>
                    </tr>
                </table>
            </form>
        </article>
    </div>
</main>
