@page
@model BA.WesternSiding.Pages.TestimonialsModel
@{
    ViewData["Title"] = "Testimonials - Western Siding";
}
@section Metatags
{
    <meta name="description" content="Leave us a reviewGoogle Plus Leave us a reviewAngie's List Leave us a reviewFacebook Leave us a reviewHouzz...">
    <meta name="keywords" content="">
    <link rel="canonical" href="https://www.westernsiding.com/testimonials" />
}
<main>
    <div class="inner">
        <article id="content">
            <h1>
                Testimonials
            </h1>
            <div class="reviews">
                <div>
                    <span>Leave us a review</span><a href="https://www.angieslist.com/companylist/us/id/meridian/western-siding-and-windows-reviews-4579496.htm"><span class="angies-list">Angie's List</span></a>
                </div>
                <div>
                    <span>Leave us a review</span><a href="https://www.facebook.com/WesternSidingIdaho/"><span class="facebook">Facebook</span></a>
                </div>
                <div>
                    <span>Leave us a review</span><a href="http://www.houzz.com/pro/westernsidingid/western-siding"><span class="houzz">Houzz</span></a>
                </div>
            </div>
        </article>
    </div>
</main>
