@page "/testimonials"
@model BA.WesternSiding.Pages.TestimonialsModel
@{
    ViewData["Title"] = "Testimonials - Western Siding";
}
@section Metatags
{
    <meta name="description" content="Leave us a reviewGoogle Plus Leave us a reviewAngie's List Leave us a reviewFacebook Leave us a reviewHouzz...">
    <meta name="keywords" content="">
    <link rel="canonical" href="https://www.westernsiding.com/testimonials" />
}
@section Header
{
    <title>Testimonials @@ Western Siding</title>
    <link rel="canonical" href="https://www.westernsiding.com/testimonials" />
    <meta name="description" content="Like us? Leave us a review on Google, Facebook, Houzz, or Angie's list! For service, CALL (208) 855-0100." />
    <meta name="referrer" content="unsafe-url">
    <meta name="of:title" content="Testimonials @@ Western Siding | Boise, Idaho" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com/testimonials" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="Like us? Leave us a review on Google, Facebook, Houzz, or Angie's list! For service, CALL (208) 855-0100." />
    <meta name="og:site_name" content="https://westernsiding.com" />

    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "WebPage",
        "name": "Testimonials @@ Western Siding | Boise, Idaho",
        "description": "Like us? Leave us a review on Google, Facebook, Houzz, or Angie's list! For service, CALL (208) 855-0100.",
        "publisher": {
        "@@type": "Person",
        "name": "Tom Bruck" }
        },
        {
        "@@context": "https://schema.org/",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "name": "Western Siding Home",
        "item": "https://westernsiding.com"
        },{
        "@@type": "ListItem",
        "position": 2,
        "name": "Testimonials @@ Western Siding | Boise, Idaho",
        "item": "https://westernsiding.com/testimonials"
        }]
        }
        ]
    </script>
}
<main>
    <div class="inner">
        <article id="content">
            <h1>
                Testimonials
            </h1>
            <div class="reviews">
                <div>
                    <span>Leave us a review</span><a href="https://www.angieslist.com/companylist/us/id/meridian/western-siding-and-windows-reviews-4579496.htm"><span class="angies-list">Angie's List</span></a>
                </div>
                <div>
                    <span>Leave us a review</span><a href="https://www.facebook.com/WesternSidingIdaho/"><span class="facebook">Facebook</span></a>
                </div>
                <div>
                    <span>Leave us a review</span><a href="http://www.houzz.com/pro/westernsidingid/western-siding"><span class="houzz">Houzz</span></a>
                </div>
            </div>
        </article>
    </div>
</main>
