@page "/thank-you"
@model BA.WesternSiding.Pages.ThankYouModel
@section Header
{
    <title>Thank You @@ Western Siding | Meridian Idaho</title>
}
<main>
    <div class="inner">
        <article id="content">
            <h1>
                Thank You for Contacting Us
            </h1>
            <p>
                We will be in touch with you shortly.
            </p>
        </article>
    </div>
</main>