@page "/bay-bow-replacement-windows-boise-idaho-amerimax"
@model BayAndBowWindowsModel
@section Header
{
<title>ProVia Bay and Bow Windows @@ Western Siding | Meridian Idaho</title>
<meta name="description"
    content="Amerimax Bay and Bow Windows feature state-of-the-art materials, design and superb craftsmanship, making them virtually maintenance free. Call Western Siding Today:(208) 855-0100" />
<link rel="canonical" href="https://westernsiding.com/bay-bow-replacement-windows-boise-idaho-amerimax" />
<meta name="referrer" content="unsafe-url">
<meta name="og:title" content="Western Siding" />
<meta name="og:type" content="business.business" />
<meta name="og:URL" content="https://westernsiding.com" />
<meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
<meta name="og:description"
    content="Amerimax Bay and Bow Windows feature state-of-the-art materials, design and superb craftsmanship, making them virtually maintenance free. Call Western Siding Today:(208) 855-0100" />
<meta name="og:site_name" content="https://westernsiding.com" />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@@WesternSiding">
<meta name="twitter:title" content="Amerimax Bay and Bow Windows @@ Western Siding | Meridian Idaho">
<meta name="twitter:description"
    content="Amerimax Bay and Bow Windows feature state-of-the-art materials, design and superb craftsmanship, making them virtually maintenance free. Call Western Siding Today:(208) 855-0100">
<script
    type="application/ld+json">[{"@@context":"http://schema.org","@@type":"WebPage","mainEntity":{"@@type":"Product","@@id":"https://westernsiding.com/product/","name":"Bay and Bow Windows","url":"https://westernsiding.com/bay-bow-replacement-windows-boise-idaho-amerimax","image":"https://westernsiding.com/images/amerimax-double-hang-bay.jpg","description":"Amerimax Bay and Bow Windows feature state-of-the-art materials, design and superb craftsmanship, making them virtually maintenance free. Call Western Siding Today:(208) 855-0100","brand":"Amerimax Bay and Bow Windows","manufacturer":"Amerimax Windows & Doors","mpn":"14","sku":"0014","Review":{"ReviewBody":"They were willing to help, and here to do the repair in a timely manner.","Author":"Debbie Holsinger"}}},{"@@context":"https://schema.org/","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"name":"Western Siding Home","item":"https://westernsiding.com"},{"@@type":"ListItem","position":2,"name":"Replacement Window Installation @@ Western Siding","item":"https://westernsiding.com/replacement-windows-installations-boise-idaho"},{"@@type":"ListItem","position":3,"name":"Amerimax Bay and Bow Windows @@ Western Siding | Meridian Idaho","item":"https://westernsiding.com/bay-bow-replacement-windows-boise-idaho-amerimax"}]}]</script>
}
<div class="banner banner-about">
    <div>
        <div class="inner">
            <h2>
                Bay and Bow Windows
            </h2>
            <span class="breadcrumb">
                <a href="/">Home</a> / <a asp-page="/Windows">Windows</a> / Bay and Bow Windows
            </span>
        </div>
    </div>
</div>
<main>
    <div class="inner">
        <article id="content">
            <div id="two-column-flex">
                <div class="two-column-left">
                    <partial name="_SubNavigationPartial" />
                </div>
                <div class="two-column-right">
                    <h1>
                        <img alt="Amerimax Windows and Doors" class="float-right" height="48"
                            src="/images/ProVia-logo.png" width="200" /> ProVia Bay and Bow Window
                        Installations
                    </h1>
                    <h2 style="margin-top: 40px">Beautiful Additions to any Home</h2>
                    <p>
                        Bay and Bow windows look amazing in a living room or master suite, giving you the versatility to
                        choose a combination of picture double hung or casement windows. The seat on a Bay or Bow window
                        is a great place to sit and read or just enjoy the view.
                    </p>
                    <p>
                        ProVia's Bay and Bow windows are available in both Aspect and Endure window styles, and are
                        constructed using your choice of Picture, Double Hung or Casement Windows.
                    </p>
                    <div class="section-windows">
                        <img alt="Provia Double Hang Bay Windows" class="float-left" src="/images/bay.bow.windows.png"
                            width="480" />
                        <p>
                            <strong>Bay and Bow Windows</strong>
                        </p>
                        <ul>
                            <li>ComforTech™ DLA Warm Edge Glazing System</li>
                            <li>Head, Seat and Jambs are 1" furniture-grade Birch or Oak plywood</li>
                            <li>Interior stop and mullions are finished to match the head, seat and side jambs</li>
                            <li>Exposed plywood interior edges are covered with matching wood edge banding</li>
                            <li>Timberstrand® laminated mullions</li>
                            <li>PVC panning system</li>
                            <li>Lag bolt construction</li>
                            <li>Jamb depth up to 6" (minimum is 4")</li>
                            <li>Cable support system with adjustable turnbuckle</li>
                            <li>Standard knee brace support system</li>
                            <li>Bay: 3-lite unit with 2 operable windows with screens</li>
                            <li>Bow: 3, 4, 5 or 6-lite units with 2 operable windows with screens</li>
                            <li>Windows with Euro White or Beige exterior have matching PVC exterior cladding</li>
                            <li>Windows with Sandstone exterior have PVC exterior cladding painted to match</li>
                        </ul>
                        <p>
                            Additonal Options
                        </p>
                        <ul>
                            <li>R9 & R21 Dow® THERMAX™ insulated seat board</li>
                            <li>Roof and decorative brace kits</li>
                            <li>Copper Roof Kit: Also available in painted aluminum</li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>
