@page "/aristocrat-casement-windows-boise-idaho"
@model CasementWindowsModel
@section Header
{
<title>ProVia Casement and Awning Windows @@ Western Siding | Meridian Idaho</title>
<meta name="description"
    content="Authorized Amerimax Aristocrat Casement Windows Installer. The completely New Aristocrat Casement Series embodies everything a casement window should be. Call Western Siding Today:(208) 855-0100" />
<link rel="canonical" href="https://westernsiding.com/aristocrat-casement-windows-boise-idaho" />
<meta name="referrer" content="unsafe-url">
<meta name="og:title" content="Western Siding" />
<meta name="og:type" content="business.business" />
<meta name="og:URL" content="https://westernsiding.com" />
<meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
<meta name="og:description"
    content="Authorized Amerimax Aristocrat Casement Windows Installer. The completely New Aristocrat Casement Series embodies everything a casement window should be. Call Western Siding Today:(208) 855-0100" />
<meta name="og:site_name" content="https://westernsiding.com" />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@@WesternSiding">
<meta name="twitter:title" content="Aristocrat Casement Windows @@ Western Siding | Meridian Idaho">
<meta name="twitter:description"
    content="Authorized Amerimax Aristocrat Casement Windows Installer. The completely New Aristocrat Casement Series embodies everything a casement window should be. Call Western Siding Today:(208) 855-0100">
<script
    type="application/ld+json">[{"@@context":"http://schema.org","@@type":"WebPage","mainEntity":{"@@type":"Product","@@id":"https://westernsiding.com/product/","name":"Aristocrat Casement Windows","url":"https://westernsiding.com/aristocrat-casement-windows-boise-idaho","image":"https://westernsiding.com/images/aristocrat-1-lite-casement.jpg","description":"Authorized Amerimax Aristocrat Casement Windows Installer. The completely New Aristocrat Casement Series embodies everything a casement window should be. Call Western Siding Today:(208) 855-0100","brand":"Amerimax Aristocrat Casement Windows","manufacturer":"Amerimax Windows & Doors","mpn":"15","sku":"0015","Review":{"ReviewBody":"They were willing to help, and here to do the repair in a timely manner.","Author":"Debbie Holsinger"}}},{"@@context":"https://schema.org/","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"name":"Western Siding Home","item":"https://westernsiding.com"},{"@@type":"ListItem","position":2,"name":"Replacement Window Installation @@ Western Siding","item":"https://westernsiding.com/replacement-windows-installations-boise-idaho"},{"@@type":"ListItem","position":3,"name":"Aristocrat Casement Windows @@ Western Siding | Meridian Idaho","item":"https://westernsiding.com/aristocrat-casement-windows-boise-idaho"}]}]</script>
}
<div class="banner banner-about">
    <div>
        <div class="inner">
            <h2>
                Casement and Awning
            </h2>
            <span class="breadcrumb">
                <a href="/">Home</a> / <a asp-page="/Windows">Windows</a> / Casement and Awning
            </span>
        </div>
    </div>
</div>
<main>
    <div class="inner">
        <article id="content">
            <div id="two-column-flex">
                <div class="two-column-left">
                    <partial name="_SubNavigationPartial" />
                </div>
                <div class="two-column-right">
                    <h1>
                        <img alt="Amerimax Windows and Doors" class="float-right" height="48"
                            src="/images/ProVia-logo.png" width="200" /> ProVia Casement and Awning Window
                        Installations
                    </h1>
                    <h2>Available in both Aspect and Endure Style Windows</h2>
                    <p>
                        Casement and awning style windows offer you design and function with beauty and energy
                        efficiency. These window styles provide durability, style and effortless operation. The
                        washability hinge provides easy access to both inside and outside of window for cleaning. The
                        folding handle tucks conveniently out of the way of most window treatments and provides a clean,
                        finished look.
                    </p>
                    <p>
                        Casement and awning windows are available in many configurations. Ask about additional
                        configuration options by calling us at (208) 855-0100 or visit our <span><a
                                asp-page='/Contact'>Contact Page</a></span>.
                    </p>
                    <div class="category-columns">
                        <div class="category-compare">
                            <h3 class='category-title'>
                                <strong>Endure</strong>
                            </h3>
                            <ul>
                                <li>3" frame depth</li>
                                <li>SunShield® Vinyl</li>
                                <li>ComforTech DLA-UV with optional 1" IGU ComforTech TLA-UV & TLK-UV</li>
                                <li>Welded frame and sash construction</li>
                                <li>Exterior glazing</li>
                                <li>Neopor® Insulation</li>
                                <li>Single-point locking hardware system</li>
                                <li>Washability hinge</li>
                                <li>INNERGY™ thermal reinforcements</li>
                                <li>Square sash profile</li>
                                <li>Extruded aluminum screen with BetterVue™ fiberglass mesh</li>
                                <li>Optional simulated double hung meeting rail</li>
                                <li>Casement Corner Drive is standard on units 56 ¼" tall and taller</li>
                            </ul>
                            <img src="/images/endure-awning.png" class='compare-img' style='width:200px;height:300' />
                        </div>
                        <div class='category-compare'>
                            <h3 class='category-title'>
                                <strong>Aspect</strong>
                            </h3>
                            <ul>
                                <li>3" frame depth</li>
                                <li>SunShield® Vinyl</li>
                                <li>ComforTech™ DLA</li>
                                <li>Welded frame and sash construction</li>
                                <li>Exterior glazing
                                </li>
                                <li>Single-point locking hardware system</li>
                                <li>Washability hinge</li>
                                <li>Extruded screen frame with BetterVue® fiberglass mesh that snaps into place with no
                                    visible fasteners</li>
                            </ul>
                            <div class='list-container'>
                                <p>Additional Features:</p>
                                <ul>
                                    <li>INNERGY® thermal sash reinforcements</li>
                                    <li>Neopor® Insulation</li>
                                    <li>1" IGU ComforTech TLA & TLK</li>
                                    <li>Simulated double hung meeting rail</li>
                                    <li>Casement Corner Drive is standard on units 56 ¼" tall and taller</li>

                                </ul>
                            </div>
                            <img src="/images/aspect-casement.jpeg" class='compare-img'
                                style='width:200px;height:300' />
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </div>
</main>
