@page "/masters-grande-replacement-windows-boise-idaho"
@model MastersGrandeModel
@section Header
{
<title>ProVia Aspect Windows @@ Western Siding | Meridian Idaho</title>
<meta name="description"
    content="Their high quality engineering make them some of the most energy efficient windows available on the current replacement windows market. Call Western Siding Today:(208) 855-0100" />
<link rel="canonical" href="https://westernsiding.com/masters-grande-replacement-windows-boise-idaho" />
<meta name="referrer" content="unsafe-url">
<meta name="og:title" content="Western Siding" />
<meta name="og:type" content="business.business" />
<meta name="og:URL" content="https://westernsiding.com" />
<meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
<meta name="og:description"
    content="Their high quality engineering make them some of the most energy efficient windows available on the current replacement windows market. Call Western Siding Today:(208) 855-0100" />
<meta name="og:site_name" content="https://westernsiding.com" />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@@WesternSiding">
<meta name="twitter:title" content="ProVia Aspect Windows @@ Western Siding | Meridian Idaho">
<meta name="twitter:description"
    content="Their high quality engineering make them some of the most energy efficient windows available on the current replacement windows market. Call Western Siding Today:(208) 855-0100">
<script
    type="application/ld+json">[{"@@context":"http://schema.org","@@type":"WebPage","mainEntity":{"@@type":"Product","@@id":"https://westernsiding.com/product/","name":"Master Grande Energy Efficient Windows","url":"https://westernsiding.com/masters-grande-replacement-windows-boise-idaho","image":"https://westernsiding.com/images/master-grande-double-hung.jpg","description":"Their high quality engineering make them some of the most energy efficient windows available on the current replacement windows market. Call Western Siding Today:(208) 855-0100","brand":"Amerimax Master Grande Windows","manufacturer":"Amerimax Windows & Doors","mpn":"17","sku":"0017","Review":{"ReviewBody":"They were willing to help, and here to do the repair in a timely manner.","Author":"Debbie Holsinger"}}},{"@@context":"https://schema.org/","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"name":"Western Siding Home","item":"https://westernsiding.com"},{"@@type":"ListItem","position":2,"name":"Replacement Window Installation @@ Western Siding","item":"https://westernsiding.com/replacement-windows-installations-boise-idaho"},{"@@type":"ListItem","position":3,"name":"Master Grande Energy Efficient Windows @@ Western Siding | Meridian Idaho","item":"https://westernsiding.com/masters-grande-replacement-windows-boise-idaho"}]}]</script>
}
<div class="banner banner-about">
    <div>
        <div class="inner">
            <h2>
                ProVia Aspect
            </h2>
            <span class="breadcrumb">
                <a href="/">Home</a> / <a asp-page="/Windows">Windows</a> / ProVia Aspect
            </span>
        </div>
    </div>
</div>
<main>
    <div class="inner">
        <article id="content">
            <div id="two-column-flex">
                <div class="two-column-left">
                    <partial name="_SubNavigationPartial" />
                </div>
                <div class="two-column-right">
                    <h1>
                        <img alt="Amerimax Replacement Windows - Doors Installations" class="float-right" height="48"
                            src="/images/amerimax-windows-doors.png" width="200" /> ProVia Aspect Energy Efficient
                        Replacement Windows Installations
                    </h1>
                    <h3>
                        Energy Savings Simplified
                    </h3>
                    <p>
                        The Aspect Window Series is ProVia’s answer for discerning consumers seeking a better-quality
                        home window that outperforms other mid-range vinyl windows. With similar construction as
                        ProVia’s top-of-the-line all-vinyl window, Endure, Aspect offers an extremely durable and
                        energy-efficient window construction, with an innovative, multi-chambered frame and sash design,
                        triple weatherstripping and ComforTech™ Warm Edge Glazing, a high-tech glass package that
                        measurably improves thermal performance—for less heat loss, warmer glass temperatures and
                        reduced interior condensation.
                        <br />
                        Independently tested to meet strict energy standards and ENERGY STAR® certified, Aspect custom
                        vinyl windows provide the assurance of lower energy costs and better home comfort all year
                        round.
                    </p>
                    <div class='category'>
                        <h3 class='category-title'>
                            <strong>Double Hung Vinyl Windows</strong>
                        </h3>
                        <p>
                            The Double Hung vinyl windows is easy to open with effortless operation. Both lower and
                            upper
                            sash tilt inwards for quick access for cleaning while the screen stays in place. The durable
                            hardware allows you to unlock and tilt the lower sash with minimal effort.
                            <br />
                            The Double Hung vinyl windows is easy to open with effortless operation. Both lower and
                            upper
                            sash tilt inwards for quick access for cleaning while the screen stays in place. The durable
                            hardware allows you to unlock and tilt the lower sash with minimal effort.
                            Standard Features that come with all Double Hung Vinyl Windows:
                        </p>
                        <p>
                            Standard Features that come with all Double Hung Vinyl Windows:
                        </p>
                        <div class='masterGrande-list_container'>
                            <img class='list-img' src="/images/aspect-dh_thumb.jpeg" />
                            <ul>
                                <li>
                                    3" frame depth
                                </li>
                                <li>
                                    SunShield® Vinyl
                                </li>
                                <li>
                                    ComforTech DLA
                                </li>
                                <li>
                                    Welded frame and sash construction
                                </li>
                                <li>
                                    Roller Tilt® balance system for a quiet and smooth operation
                                </li>
                                <li>
                                    Exterior glazing
                                </li>
                                <li>
                                    Extruded sloped sill
                                </li>
                                <li>
                                    Cove sash profile offers a contemporary look that adds elegance to the sash
                                </li>
                                <li>
                                    Dual weatherstripping
                                </li>
                                <li>
                                    Two surface mounted sculptured sweep locks and tilt latches (Windows less than 24"
                                    have
                                    a
                                    single sweep lock)
                                </li>
                                <li>
                                    Dual vent locks allow for worry-free operation while withstanding impact
                                </li>
                                <li>
                                    Roll formed half screen frame with BetterVue® screen mesh
                                </li>
                            </ul>
                        </div>
                        <p>
                            Additional Options for Double Hung Vinyl Windows:
                        </p>
                        <ul>
                            <li>
                                INNERGY® thermal sash reinforcements
                            </li>
                            <li>
                                Neopor® Insulation
                            </li>
                            <li>
                                1" IGU ComforTech TLA & TLK
                            </li>
                            <li>
                                Extruded aluminum screen frame
                            </li>
                            <li>
                                Integrated DualTech™ sweep locks and tilt latches - available in all finishes
                            </li>
                        </ul>
                    </div>
                    <div class='category'>
                        <h3 class="class='category-title'">
                            <strong>Vinyl Slider Windows</strong>
                        </h3>
                        <p>Horizontal vinyl slider windows are engineered to provide you with maximum durability and
                            ventilation.
                        </p>
                        <p>
                            Aspect Vinyl Slider Windows Standard Features:
                        </p>
                        <div class='masterGrande-list_container'>
                            <img class='list-img' src="/images/aspect-slider_thumb.jpeg" />
                            <ul>
                                <li>
                                    3" frame depth
                                </li>
                                <li>
                                    SunShield® Vinyl
                                </li>
                                <li>
                                    ComforTech™ DLA
                                </li>
                                <li>
                                    Welded frame and sash construction
                                </li>
                                <li>
                                    Exterior glazing

                                </li>
                                <li>
                                    Brass rollers
                                </li>
                                <li>
                                    Cove sash profile offers a contemporary look that adds elegance to the sash
                                </li>
                                <li>
                                    Dual weatherstripping
                                </li>
                                <li>
                                    Two surface mounted sculptured sweep locks
                                </li>
                                <li>
                                    Roll formed half screen frame with BetterVue® fiberglass mesh
                                </li>
                            </ul>
                        </div>
                        <p>
                            Additional Options for Vinyl Slider Windows:
                        </p>
                        <ul>
                            <li>
                                INNERGY® thermal sash reinforcements
                            </li>
                            <li>
                                Neopor® Insulation
                            </li>
                            <li>
                                1" IGU ComforTech TLA & TLK
                            </li>
                            <li>
                                Extruded aluminum screen frame
                            </li>
                            <li>
                                DualTech™ sweep locks - available in all finishes
                            </li>
                        </ul>
                    </div>
                    <div class='category'>
                        <h3 class='category-title clear'>
                            <strong>Picture Windows</strong>
                        </h3>
                        <p>
                            Picture windows provide plenty of light, an unlimited view, plus the benefits of home energy
                            savings.
                        </p>
                        <p>
                            Aspect Picture Windows Standard Features:
                        </p>
                        <div class='masterGrande-list_container'>
                            <img class='list-img' src="/images/aspect-picture_thumb.jpeg" />
                            <div class='list-box'>
                                <ul>
                                    <li>
                                        3" frame depth
                                    </li>
                                    <li>
                                        SunShield® Vinyl
                                    </li>
                                    <li>
                                        ComforTech™ DLA
                                    </li>
                                    <li>
                                        Welded frame
                                    </li>
                                    <li>
                                        Direct-set glass
                                    </li>
                                    <li>
                                        Interior glazing
                                    </li>
                                    <li>
                                        Sloped sill
                                    </li>
                                </ul>
                                <p>
                                    Additional Options for Picture Windows:
                                </p>
                                <ul>
                                    <li>
                                        1" IGU ComforTech TLA & TLK
                                    </li>
                                    <li>
                                        Neopor® Insulation
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class='category'>
                        <h3 class='category-title'>
                            <strong>Architectual Window Shapes</strong>
                        </h3>
                        <p>
                            Architectural Shapes give added light with complementary design.
                        </p>
                        <div class='masterGrande-list_container'>
                            <img class='list-img' src="/images/aspect-shapes_thumb.jpeg" />
                            <div class='list-box'>
                                <p>
                                    Aspect Shape Windows Standard Features:
                                </p>
                                <ul>
                                    <li>
                                        3" frame depth
                                    </li>
                                    <li>
                                        SunShield® Vinyl
                                    </li>
                                    <li>
                                        ComforTech™ DLA
                                    </li>
                                    <li>
                                        Fully welded frame
                                    </li>
                                    <li>
                                        Direct-set glazing
                                    </li>
                                </ul>
                                <p>
                                    Additional Options for Shape Windows:
                                </p>
                                <ul>
                                    <li>
                                        1" IGU ComforTech TLA & TLK
                                    </li>
                                    <li>
                                        Neopor® Insulation
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Single Hung Circle Top with Extended Leg and Eyebrow with Extended Leg window now available.
                        </p>
                    </div>
                    <div class='category'>
                        <h3 class='category-title'>
                            <strong>Garden Windows</strong>
                        </h3>
                        <p>
                            Garden windows bring the outdoors in, showcasing your horticultural expertise.
                        </p>
                        <p>
                            Garden Window Standard Features:
                        </p>
                        <div class='masterGrande-list_container'>
                            <img class='list-img' src="/images/garden-window_thumb.jpeg" />
                            <ul>
                                <li>
                                    ComforTech™ DC Warm Edge Glazing System
                                </li>
                                <li>
                                    Top sloped insulating glass is tempered
                                </li>
                                <li>
                                    Fully welded construction
                                </li>
                                <li>
                                    Completely assembled with 1" Oak veneer seat board
                                </li>
                                <li>
                                    Snap-in corner slope closure profile seals tight
                                </li>
                                <li>
                                    Twin sealing, fully screened operating casements with exterior glazing
                                </li>
                                <li>
                                    Easy access dual-point locking operator
                                </li>
                                <li>
                                    Fold-away handle
                                </li>
                                <li>
                                    Fiberglass screen
                                </li>
                            </ul>
                        </div>
                        <p>
                            Available Options for Garden Windows:
                        </p>
                        <ul>
                            <li>
                                ComforTech™ DLA Warm Edge Glazing System
                            </li>
                            <li>
                                Seat board also available in Birch Veneer, White or Beige Pionite (Pionite resists water
                                damage)
                            </li>
                            <li>
                                Insulated seat board
                            </li>
                            <li>
                                Custom jamb depths available
                            </li>
                            <li>
                                Tempered glass shelves
                            </li>
                        </ul>
                    </div>
                    <div class='category'>
                        <h2 class="clear">
                            <strong>Energy Star</strong>
                        </h2>
                        <p>
                            When buying new home replacement windows, look for the blue ENERGY STAR label that assures
                            that
                            your new windows meet the standardized energy efficiency requirements that will reduce the
                            amount of energy you use to heat or cool your home.
                            <br />
                            ENERGY STAR is a U.S. Environmental Protection Agency (EPA) voluntary program that helps
                            businesses and individuals save money and protect our climate through superior energy
                            efficiency.
                            <br />
                            ProVia’s windows use the highest-quality frame and sash designs along with energy-efficient
                            glass glazing systems, meeting the strict energy efficiency standards needed to be ENERGY
                            STAR
                            certified.
                            <br />
                            As a proponent of the ENERGY STAR program, ProVia also promotes up-front verification to
                            ensure
                            their windows meet or exceed the EPA’s certification, and that your new Aspect custom vinyl
                            windows will provide the exact energy efficiency you expect from ProVia.
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>
