@page "/craftsman-portrait-windows-replacement-boise-idaho-amerimax"
@model ProviaEndureModel
@section Header
{
<title>ProVia Endure Windows @@ Western Siding | Meridian Idaho</title>
<meta name="description"
    content="Amerimax's Craftsman Portrait series is a great choice for the cost conscious buyer. Call Western Siding Today:(208) 855-0100" />
<link rel="canonical" href="https://westernsiding.com/craftsman-portrait-windows-replacement-boise-idaho-amerimax" />
<meta name="referrer" content="unsafe-url">
<meta name="og:title" content="Western Siding" />
<meta name="og:type" content="business.business" />
<meta name="og:URL" content="https://westernsiding.com" />
<meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
<meta name="og:description"
    content="Amerimax's Craftsman Portrait series is a great choice for the cost conscious buyer. Call Western Siding Today:(208) 855-0100" />
<meta name="og:site_name" content="https://westernsiding.com" />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@@WesternSiding">
<meta name="twitter:title" content="Craftsman Portrait Series @@ Western Siding | Meridian Idaho">
<meta name="twitter:description"
    content="Amerimax's Craftsman Portrait series is a great choice for the cost conscious buyer. Call Western Siding Today:(208) 855-0100">
<script
    type="application/ld+json">[{"@@context":"http://schema.org","@@type":"WebPage","mainEntity":{"@@type":"Product","@@id":"https://westernsiding.com/product/","name":"Craftsman Portrait Series","url":"https://westernsiding.com/craftsman-portrait-windows-replacement-boise-idaho-amerimax","image":"https://westernsiding.com/images/craftsman-portrait-single-hung.jpg","description":"Amerimax's Craftsman Portrait series is a great choice for the cost conscious buyer. Call Western Siding Today:(208) 855-0100","brand":"Amerimax Craftsman Portrait Series","manufacturer":"Amerimax Windows & Doors","mpn":"16","sku":"0016","Review":{"ReviewBody":"They were willing to help, and here to do the repair in a timely manner.","Author":"Debbie Holsinger"}}},{"@@context":"https://schema.org/","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"name":"Western Siding Home","item":"https://westernsiding.com"},{"@@type":"ListItem","position":2,"name":"Replacement Window Installation @@ Western Siding","item":"https://westernsiding.com/replacement-windows-installations-boise-idaho"},{"@@type":"ListItem","position":3,"name":"Craftsman Portrait Series @@ Western Siding | Meridian Idaho","item":"https://westernsiding.com/craftsman-portrait-windows-replacement-boise-idaho-amerimax"}]}]</script>
}
<div class="banner banner-about">
    <div>
        <div class="inner">
            <h2>
                ProVia Endure Windows
            </h2>
            <span class="breadcrumb">
                <a href="/">Home</a> / <a asp-page="/Windows">Windows</a> / ProVia Endure Windows
            </span>
        </div>
    </div>
</div>
<main>
    <div class="inner">
        <article id="content">
            <div id="two-column-flex">
                <div class="two-column-left">
                    <partial name="_SubNavigationPartial" />
                </div>
                <div class="two-column-right">
                    <h1>
                        <img alt="Amerimax Windows and Doors" class="float-right" height="48"
                            src="/images/ProVia-logo.png" width="200" /> ProVia Endure Windows Installations
                    </h1>
                    <h2>Stunning Energy Efficiency</h2>
                    <p>
                        ProVia has developed a reputation within the vinyl replacement window industry for developing
                        the best vinyl windows - ones that provide a high degree of customization combined with
                        outstanding quality and energy efficiency.
                    </p>
                    <p>
                        For the energy-efficient Endure line, ProVia has chosen the optimum levels of technology to make
                        a window that will work continually at peak performance. Endure replacement windows provide all
                        that you would expect from high-performance ENERGY STAR certified vinyl windows, using much less
                        energy to stay warm in the winter, cool in the summer, and provide more comfort all year round.
                        These windows are extremely durable with energy-efficient window construction, and an
                        innovative, multi-chambered frame and sash design, triple weatherstripping and ComforTech™ Warm
                        Edge Glazing, a high-tech glass package that measurably improves thermal performance—for less
                        heat loss, warmer glass temperatures and reduced interior condensation.
                    </p>
                    <p>
                        Endure vinyl windows are one of three ProVia window lines that meet ENERGY STAR window standards
                        nationwide or for specific climate zones.
                    </p>
                    <p>
                        ProVia’s Endure windows offer maximum energy efficiency, while displaying stunning beauty,
                        living up to its billing as the best vinyl replacement windows. With Endure, homeowners are
                        getting the best vinyl replacement windows all the way around, for energy efficiency,
                        durability, aesthetics and customization options like window style, color and glass.
                    </p>
                    <div class="category">
                        <h3 class="category-title">
                            <strong>Double Hung Windows</strong>
                        </h3>
                        <p>
                            Our Double Hung window style is easy to open with effortless operation. Both lower and upper
                            sash tilt inwards for easy access for cleaning while the screen stays in place.
                        </p>
                        <p>
                            Our unique DualTech™ hardware allows you to unlock and tilt the lower sash with ease.
                        </p>
                        <p>
                            Double Hung Standard Features:
                        </p>
                        <div class="list_container">
                            <img class="list-img" src="/images/endure-doublehung.png" />
                            <ul>
                                <li>3" frame depth</li>
                                <li>SunShield® Vinyl</li>
                                <li>ComforTech DLA-UV with optional 1" IGU ComforTech TLA-UV & TLK-UV</li>
                                <li>Welded frame and equal lite sash construction</li>
                                <li>Compound Tension™ balance system for a quiet and smooth operation (Roller-Tilt™
                                    balance
                                    system may be required for extremely large or small window sizes)</li>
                                <li>Exterior glazing</li>
                                <li>Extruded sloped sill</li>
                                <li>Neopor® Insulation</li>
                                <li>INNERGY® thermal reinforcements</li>
                                <li>Cove sash profile offers a contemporary look that adds elegance to the sash</li>
                                <li>Dual weatherstripping</li>
                                <li>Two integrated DualTech™ sweep locks and tilt latches (Windows less than 24" have a
                                    single passive DualTech sweep lock and low profile tilt latches)</li>
                                <li>Dual vent locks allow for worry-free operation while withstanding impact</li>
                            </ul>
                        </div>
                    </div>
                    <div class='category'>
                        <h3 class='category-title'>
                            <strong>Slider Windows</strong>
                        </h3>
                        <p>
                            Our slider window style is easy to operate with our durable and friction-resistant sash
                            rollers. Operating sashes utilize our unique DualTech™ hardware making it easy to remove
                            sash or slide sash for venting.
                        </p>
                        <p>
                            Slider Standard Features:
                        </p>
                        <div class='list_container'>
                            <img class='list-img' src="/images/slider-endure.png">
                            <ul>
                                <li>3" frame depth</li>
                                <li>SunShield® Vinyl</li>
                                <li>ComforTech™ DLA-UV with optional 1" IGU ComforTech TLA-UV & TLK-UV</li>
                                <li>Welded frame and sash construction</li>
                                <li>Exterior glazing</li>
                                <li>Neopor® Insulation</li>
                                <li>INNERGY™ thermal reinforcements</li>
                                <li>Brass rollers</li>
                                <li>Cove sash profile offers a contemporary look that adds elegance to the sash</li>
                                <li>Double weatherstripping</li>
                                <li>Two passive DualTech™ sweep locks</li>
                            </ul>
                        </div>
                        <div class='category'>
                            <h3 class='category-title'>
                                <strong>Picture windows</strong>
                            </h3>
                            <p>
                                Add style and substance to any room with a picture window giving you a stand-alone and
                                durable window with the beauty of natural light.
                            </p>
                            <p>
                                Picture Standard Features:
                            </p>
                            <div class='list_container'>
                                <img class='list-img' src="/images/picture-endure.png">
                                <ul>
                                    <li>3" frame depth</li>
                                    <li>SunShield® Vinyl</li>
                                    <li>ComforTech™ DLA-UV with optional 1" IGU ComforTech TLA-UV & TLK-UV</li>
                                    <li>Welded frame</li>
                                    <li>Direct-set glass</li>
                                    <li>Interior glazing</li>
                                    <li>Sloped sill</li>
                                    <li>Neopor® Insulation</li>
                                </ul>
                            </div>
                        </div>
                        <div class='category'>
                            <h3 class='category-title'>
                                <strong>Architectural Window Shapes</strong>
                            </h3>
                            <p>
                                Our unique shapes will add additional light into your home while complementing your
                                home's architectural design with distinctive style.
                            </p>
                            <p>Shapes Standard Features:</p>
                            <div class='list_container'>
                                <img class='list-img' src='/images/shape-endure.png' />
                                <ul>
                                    <li>
                                        3" frame depth
                                    </li>
                                    <li>
                                        Sunshield® Vinyl
                                    </li>
                                    <li>
                                        " ComforTech™ DLA-UV with optional 1" ComforTech TLA-UV & TLK-UV
                                    </li>
                                    <li>
                                        Neopor® Insulation
                                    </li>
                                    <li>
                                        Fully welded frame
                                    </li>
                                    <li>
                                        Direct-set glazing
                                    </li>
                                </ul>
                            </div>
                            <p>Single Hung Circle Top with Extended Leg and Eyebrow with Extended Leg window now
                                available.</p>
                        </div>
                        <div class='category'>
                            <h3 class='category-title'>
                                <strong>Garden Windows</strong>
                            </h3>
                            <p>The garden window has been a long-standing favorite for those who like to provide a place
                                in their home for extra light and space for foliage or herbs.
                            </p>
                            <p>Standard Garden Windows Features:</p>
                            <div class='list_container'>
                                <img class='list-img' src="/images/garden-endure.png">
                                <ul>
                                    <li>ComforTech™ DC Warm Edge Glazing System</li>
                                    <li>Top sloped insulating glass is tempered</li>
                                    <li>Fully welded construction</li>
                                    <li>Completely assembled with 1" Oak veneer seat board (unfinished)</li>
                                    <li>Snap-in corner slope closure profile seals tight</li>
                                    <li>Twin sealing, fully screened operating casements with exterior glazing</li>
                                    <li>Easy access dual-point locking operator</li>
                                    <li>Fold-away handle</li>
                                    <li>Fiberglass screen</li>
                                    <li>ComforTech™ DLA-UV Warm Edge Glazing System</li>
                                    <li>Seat board also available in Birch Veneer, White or Beige Pionite (Pionite
                                        resists water damage)</li>
                                    <li>Insulated seat board</li>
                                    <li>Custom jamb depths available</li>
                                    <li>Tempered glass shelves</li>
                                </ul>
                            </div>
                        </div>
                        <div class='category'>
                            <h2 class='clear'>
                                <strong>ENERGY STAR®</strong>
                            </h2>
                            <p>
                                ENERGY STAR is a U.S. Environmental Protection Agency (EPA) voluntary program that helps
                                businesses and individuals save money and protect our climate through superior energy
                                efficiency.
                            </p>
                            <p>
                                ProVia is committed to manufacturing Endure vinyl windows using the highest quality
                                frame and sash designs along with energy-efficient glazing systems.
                            </p>
                            <p>
                                ProVia also promotes up-front verification to ensure our products meet or exceed the
                                EPA’s certification, and that your new ENERGY STAR certified vinyl windows will provide
                                the exact energy efficiency you expect from ProVia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>
