<div id="nav-sub">
    <div id="categories">
        <h2>
            Categories
        </h2>
        <nav class="category-menu">
            <nav class="drop-down-menu">
                <input type="checkbox" class="activate" id="accordion-1" name="accordion-1">
                <label for="accordion-1" class="menu-title">Siding <span><i class="fas fa-chevron-down"></i></span></label>
                <div class="drop-down">
                    <a asp-page="/Siding/PlyGemSteelSiding">Ply Gem Steel Lap Siding</a>
                    <a asp-page="/Siding/QuestSignatureVinyl">Quest</a>
                    <a asp-page="/Siding/Aluminum">Mastic Aluminum Lap Siding</a>
                    <a asp-page="/Siding/MasticCedarDiscoveryShakesShingles">Mastic Cedar Discovery Shakes &amp; Shingles</a>
                    <a asp-page="/Siding/AluminumSoffitAndFascia">Aluminum Soffit and Fascia</a>
                    <a asp-page="/Siding/StructureInsulated">Structure Insulated</a>
                    <a asp-page="/Siding/TrimAndAccessories">Mastic Vinyl Accessories and Upgrades</a>
                    <a asp-page="/Siding/EverlastAdvancedCompositeSiding">Everlast, Advanced Composite Siding</a>
                    <a asp-page="/Siding/BoralVersettaStone">Boral Versetta Stone</a>
                </div>
            </nav>
            <nav class="drop-down-menu">
                <input type="checkbox" class="activate" id="accordion-2" name="accordion-2">
                <label for="accordion-2" class="menu-title">Windows <span><i class="fas fa-chevron-down"></i></span></label>
                <div class="drop-down">
                    <a asp-page="/Windows/MastersGrande">Masters Grande Series</a>
                    <a asp-page="/Windows/CraftsmanPortrait">Craftsman Portrait Series</a>
                    <a asp-page="/Windows/BayAndBowWindows">Bay and Bow Windows</a>
                    <a asp-page="/Windows/CasementWindows">Casement Windows</a>
                </div>
            </nav>
            <nav class="drop-down-menu">
                <input type="checkbox" class="activate" id="accordion-3" name="accordion-3">
                <label for="accordion-3" class="menu-title">Doors <span><i class="fas fa-chevron-down"></i></span></label>
                <div class="drop-down">
                    <a asp-page="/Doors/EntryDoors">Entry Doors</a>
                    <a asp-page="/Doors/ClassicFrenchDoor">Classic French Door</a>
                    <a asp-page="/Doors/RivieraFrenchSlider">Riviera French Slider</a>
                    <a asp-page="/Doors/NewHorizonPatioDoor">New Horizon Patio Door</a>
                    <a asp-page="/Doors/SlidingPatioDoor2200">2200 Series Sliding Patio Door</a>
                </div>
            </nav>
        </nav>
    </div>
</div>