<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Western Siding - Contact Us</title>
    <style>

        html {
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid #000;
            padding: 5px;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <p>Hello Western Siding!</p>
    <p>
        You have received a message through your Website [Page] page.  The information is as follows:
    </p>
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>
                [Name]
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                [Email]
            </td>
        </tr>
        <tr>
            <td>
                Phone:
            </td>
            <td>
                [Phone]
            </td>
        </tr>
        <tr>
            <td>
                Referral:
            </td>
            <td>
                [Referral]
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Comments:
            </td>
        </tr>
        <tr>
            <td colspan="2">
                [Comments]
            </td>
        </tr>
    </table>
</body>
</html>