@page "/additional-siding-products"
@model AdditionalSidingProductsModel
@section Header
{
<title>Additional Siding Products @@ Western Siding</title>
}

<div class="banner banner-about">
    <div>
        <div class="inner">
            <h2>
                Additional Siding Products
            </h2>
            <span class="breadcrumb">
                <a href="/">Home</a> / <a asp-page="/Siding">Siding</a> / Additional Siding Products
            </span>
        </div>
    </div>
</div>
<main>
    <div class="inner">
        <article id="content">
            <div id="two-column-flex">
                <div class="two-column-left">
                    <partial name="_SubNavigationPartial" />
                </div>
                <div class="two-column-right">
                    @* <img alt="Mastic Ovation Vinyl Siding" class="float-right" height="81"
                        src="/images/mastic-home-interiors.png" width="228" /> *@
                    <h1>
                        Additional Siding Products
                    </h1>
                    <p>
                        At Western Siding we are nothing less than Exterior Remodeling Experts. With over 50 years of
                        exterior remodeling experience, we furnish and install any type of siding to your home or
                        business. We work with many companies to provide you with the best options possible.
                    </p>
                    @* <p>
                        <img alt="Mastic Ovation Boise Installations" class="float-left" height="150"
                        src="/images/mastic-ovation-home.jpg" width="200" />
                        </p> *@
                    <div class='column-container'>
                        <div class='column'>
                            <div>
                                <img src="~/images/jh-mainlogo-2x.png" class='column-logo'
                                    style='height: 44px; margin-bottom:5px' />
                            </div>
                            <div>
                                <p>
                                    Build your dream with the very best. James Hardie makes the world’s
                                    highest-performance fiber cement siding, trim, backer board and more
                                    in styles that suit every home style, from historic to modern. With baked-on
                                    ColorPlus® Technology.
                                </p>
                            </div>
                        </div>
                        <div class='column'>
                            <div><img src="~/images/Diamond-Kote-Logo.jpeg" class='column-logo'
                                    style='height: 38px; margin-bottom:12px' />
                            </div>
                            <div>
                                <p>
                                    Diamond Kote® siding is built to last. Our complete siding system comes with a
                                    30-Year No Fade Warranty so you can feel confident every time you pull in the
                                    driveway. Where beauty meets function.

                                </p>
                            </div>
                        </div>
                        <div class='column'>
                            <div class='column-img'>
                                <img src="~/images/alside-logo.png" class='column-logo' />
                            </div>
                            <div>
                                <p>
                                    Alside's ASCEND® Composite Cladding a first-of-its-kind solution that combines
                                    beauty, performance and easy installation for the best overall value on the market.
                                    With tall exposures and the deeply grained look of real wood, keeping that
                                    “just-installed” look for as long as it’s up.
                                </p>
                            </div>
                        </div>
                    </div>

                    <h3>
                        Not Seeing Your Desired Siding?
                    </h3>
                    <p class="clear">
                        With our partnerships in Exterior Remodeling, we are able to connect with many companies to
                        acquire most sidings that fit your project best. If there is a siding, or product, that you wish
                        to use that is not listed on our website, give us a call or visit our contact page to start a
                        conversation. We're confident with our industry knowledge and expert craftsmen we can complete
                        installation and meet your vision.
                    </p>
                </div>
            </div>
        </article>
    </div>
</main>
