@page "/installations-ovation-vinyl-siding-boise-idaho"
@model MasticWesternExtremeModel
@section Header
{
<title>Mastic Western Extreme @@ Western Siding | Meridian Idaho</title>
<meta name="description"
    content="Mastic Western Extreme is built for strength and durability with a variety of color options. Visit our showroom or CALL Today:(208) 855-0100" />
<link rel="canonical" href="https://westernsiding.com/installations-ovation-vinyl-siding-boise-idaho" />
<meta name="referrer" content="unsafe-url">
<meta name="og:title" content="Western Siding" />
<meta name="og:type" content="business.business" />
<meta name="og:URL" content="https://westernsiding.com" />
<meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
<meta name="og:description"
    content="Mastic Western Extreme is built for strength and durability with a variety of color options. Visit our showroom or CALL Today:(208) 855-0100" />
<meta name="og:site_name" content="https://westernsiding.com" />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@@WesternSiding">
<meta name="twitter:title" content="Mastic Western Extreme @@ Western Siding | Meridian Idaho">
<meta name="twitter:description"
    content="Mastic Western Extreme is built for strength and durability with a variety of color options. Visit our showroom or CALL Today:(208) 855-0100">
<script
    type="application/ld+json">[{"@@context":"http://schema.org","@@type":"WebPage","mainEntity":{"@@type":"Product","name":"Ovation Vinyl Siding","url":"https://westernsiding.com/installations-ovation-vinyl-siding-boise-idaho","image":"http://westernsiding.com/images/mastic-ovation-home.jpg","description":"Ovation Vinyl siding is built for strength and durability with a variety of color options. Visit our showroom or CALL Today:(208) 855-0100","brand":"Mastic Siding","manufacturer":"Ply Gem Industries","mpn":"3","sku":"0003","Review":{"ReviewBody":"They were willing to help, and here to do the repair in a timely manner.","Author":"Debbie Holsinger"}}},{"@@context":"https://schema.org/","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"name":"Western Siding Home","item":"https://westernsiding.com"},{"@@type":"ListItem","position":2,"name":"Siding Installation Contractor @@ Western Siding | Boise, Idaho","item":"https://westernsiding.com/boise-siding-installations-contractors-idaho"},{"@@type":"ListItem","position":3,"name":"Ovation Vinyl Siding @@ Western Siding | Meridian Idaho","item":"https://westernsiding.com/installations-ovation-vinyl-siding-boise-idaho"}]}]</script>
}
<div class="banner banner-about">
    <div>
        <div class="inner">
            <h2>
                Mastic
            </h2>
            <span class="breadcrumb">
                <a href="/">Home</a> / <a asp-page="/Siding">Siding</a> / Mastic
            </span>
        </div>
    </div>
</div>
<main>
    <div class="inner">
        <article id="content">
            <div id="two-column-flex">
                <div class="two-column-left">
                    <partial name="_SubNavigationPartial" />
                </div>
                <div class="two-column-right">
                    <h1>
                        <img alt="Mastic Ovation Vinyl Siding" class="float-right" height="81"
                            src="/images/mastic-home-interiors.png" width="228" /> Western Extreme by Mastic
                    </h1>
                    <div class='top-paragraph'>
                        <img class='top-image' src="~/images/ms_westernextreme_features.jpeg" width="300" />
                        <p>
                            Ply Gem's Western Extreme by Mastic is built for the extreme environmental conditions and is
                            made of heat resistant vinyl. Providing the best protection from the harshest Western United
                            States weather, this vinyl is both heat and weather-resistant and only available in the
                            Western
                            US region.
                        </p>
                    </div>
                    <p>
                        Made with advanced polymers and unique pigments, this siding is made with extra thick panels to
                        ensure your home stays protected from the punishing effects of damaging infrared light, low
                        humidity, and rapid temperature changes. This siding is beautifully detailed with a woodgrain
                        texture, giving exceptional curb appeal. This new option is also made of sustainable and
                        recyclable materials for an eco-friendly choice.
                    </p>
                    <p>
                        Western Extreme is available in 20 unique colors*, as well as three sizes; Double 4", Double 4"
                        DL, and 7" Board + Batten.
                        See <span>
                            <a href="https://www.plygem.com/wp-content/uploads/2021/02/Western_Extreme_Flyer.pdf"
                                _blank>
                                Mastic's Western Extreme flyer
                            </a>
                        </span> for full color assortment options.
                    </p>
                    <p>
                        *Due to screen resolution limitations, product colors may not be exactly as shown.
                    </p>




                </div>
            </div>
        </article>
    </div>
</main>
