@page "/installations-ovation-vinyl-siding-boise-idaho"
@model MasticWesternExtremeModel
@section Header
{
<title>Mastic Western Extreme @@ Western Siding | Meridian Idaho</title>
<meta name="description"
    content="Mastic Western Extreme is built for strength and durability with a variety of color options. Visit our showroom or CALL Today:(208) 855-0100" />
<link rel="canonical" href="https://westernsiding.com/installations-ovation-vinyl-siding-boise-idaho" />
<meta name="referrer" content="unsafe-url">
<meta name="og:title" content="Western Siding" />
<meta name="og:type" content="business.business" />
<meta name="og:URL" content="https://westernsiding.com" />
<meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
<meta name="og:description"
    content="Mastic Western Extreme is built for strength and durability with a variety of color options. Visit our showroom or CALL Today:(208) 855-0100" />
<meta name="og:site_name" content="https://westernsiding.com" />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@@WesternSiding">
<meta name="twitter:title" content="Mastic Western Extreme @@ Western Siding | Meridian Idaho">
<meta name="twitter:description"
    content="Mastic Western Extreme is built for strength and durability with a variety of color options. Visit our showroom or CALL Today:(208) 855-0100">
<script
    type="application/ld+json">[{"@@context":"http://schema.org","@@type":"WebPage","mainEntity":{"@@type":"Product","name":"Ovation Vinyl Siding","url":"https://westernsiding.com/installations-ovation-vinyl-siding-boise-idaho","image":"http://westernsiding.com/images/mastic-ovation-home.jpg","description":"Ovation Vinyl siding is built for strength and durability with a variety of color options. Visit our showroom or CALL Today:(208) 855-0100","brand":"Mastic Siding","manufacturer":"Ply Gem Industries","mpn":"3","sku":"0003","Review":{"ReviewBody":"They were willing to help, and here to do the repair in a timely manner.","Author":"Debbie Holsinger"}}},{"@@context":"https://schema.org/","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"name":"Western Siding Home","item":"https://westernsiding.com"},{"@@type":"ListItem","position":2,"name":"Siding Installation Contractor @@ Western Siding | Boise, Idaho","item":"https://westernsiding.com/boise-siding-installations-contractors-idaho"},{"@@type":"ListItem","position":3,"name":"Ovation Vinyl Siding @@ Western Siding | Meridian Idaho","item":"https://westernsiding.com/installations-ovation-vinyl-siding-boise-idaho"}]}]</script>
}
<div class="banner banner-about">
    <div>
        <div class="inner">
            <h2>
                Mastic
            </h2>
            <span class="breadcrumb">
                <a href="/">Home</a> / <a asp-page="/Siding">Siding</a> / Mastic
            </span>
        </div>
    </div>
</div>
<main>
    <div class="inner">
        <article id="content">
            <div id="two-column-flex">
                <div class="two-column-left">
                    <partial name="_SubNavigationPartial" />
                </div>
                <div class="two-column-right">
                    <h1>
                        <img alt="Mastic Ovation Vinyl Siding" class="float-right" height="81"
                            src="/images/mastic-home-interiors.png" width="228" /> Mastic Western Extreme
                    </h1>
                    <p>

                    </p>
                    <p>

                    </p>




                </div>
            </div>
        </article>
    </div>
</main>
