@page "/installations-vinyl-boise-idaho"
@model QuestSignatureVinylModel
@section Header
{
    <title>Quest Premium Vinyl Siding @@ Western Siding | Meridian Idaho</title>
    <meta name="description" content="Western Siding offers Quest Vinyl Siding by Mastic, a premium vinyl siding with the classic look of authentic wood siding. CALL Today: (208) 855-0100" />
    <link rel="canonical" href="https://westernsiding.com/installations-vinyl-boise-idaho" />
    <meta name="referrer" content="unsafe-url">
    <meta name="og:title" content="Western Siding" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="Western Siding offers Quest Vinyl Siding by Mastic, a premium vinyl siding with the classic look of authentic wood siding. CALL Today: (208) 855-0100" />
    <meta name="og:site_name" content="https://westernsiding.com" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@WesternSiding">
    <meta name="twitter:title" content="Quest Vinyl Siding @@ Western Siding | Meridian Idaho">
    <meta name="twitter:description" content="Western Siding offers Quest Vinyl Siding by Mastic, Western Siding offers Quest Premium Vinyl by Mastic, a premium vinyl siding with the classic look of authentic wood siding. CALL Today: (208) 855-0100">
    <script type="application/ld+json">[{"@@context":"http://schema.org","@@type":"WebPage","mainEntity":{"@@type":"Product","@@id":"https://westernsiding.com/product/","name":"Quest Vinyl Siding","url":"https://westernsiding.com/installations-vinyl-boise-idaho","image":"https://westernsiding.com/images/mastic-quest-signature-home.jpg","description":"Western Siding offers Quest Signature by Mastic, a quality vinyl siding designed to look like classic cedar. CALL Today: (208) 855-0100","brand":"Mastic Siding","manufacturer":"Ply Gem Industries","mpn":"5","sku":"0005","Review":{"ReviewBody":"They were willing to help, and here to do the repair in a timely manner.","Author":"Debbie Holsinger"}}},{"@@context":"https://schema.org/","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"name":"Western Siding Home","item":"https://westernsiding.com"},{"@@type":"ListItem","position":2,"name":"Siding Installation Contractor @@ Western Siding | Boise, Idaho","item":"https://westernsiding.com/boise-siding-installations-contractors-idaho"},{"@@type":"ListItem","position":3,"name":"Quest Signature Vinyl Siding @@ Western Siding | Meridian Idaho","item":"https://westernsiding.com/installations-vinyl-boise-idaho"}]}]</script>
}
<div class="banner banner-about">
    <div>
        <div class="inner">
            <h2>
                Quest Vinyl Siding
            </h2>
            <span class="breadcrumb">
                <a href="/">Home</a> / <a asp-page="/Siding">Siding</a> / Quest Vinyl Siding
            </span>
        </div>
    </div>
</div>
<main>
    <div class="inner">
        <article id="content">
            <div id="two-column-flex">
                <div class="two-column-left">
                    <partial name="_SubNavigationPartial" />
                </div>
                <div class="two-column-right">
                    <h1>
                        <img alt="Quest Vinyl Siding Installers Boise, Idaho" class="float-right" height="81" src="/images/mastic-home-interiors.png" width="228" /> Quest Signature&trade; Vinyl Siding - Majestic Home Exteriors | Western Siding
                    </h1>
                    <p>
                        A premium vinyl siding with the classic look of authentic wood siding. Solid and tough. A tornado-tough, double-thick nail hem that keeps siding firmly in position, even during high winds. Patented T3-Lok&reg; panel locking system eases installation and increases strength. Quest Signature&trade;. Incomparable beauty. Unmatched performance.
                    </p>
                    <p>
                        <img alt="Mastic Dealer Idaho - Quest Signature Vinyl Siding Installations" class="float-left" height="190" src="/images/mastic-quest-signature-home.jpg" width="240" />
                    </p>
                    <ul>
                        <li>
                            Wind speed - rated up to 240 mph
                        </li>
                        <li>
                            Patented t3-lok&trade; locking system
                        </li>
                        <li>
                            New premium .046 Thickness
                        </li>
                        <li>
                            Longer lengths available in double 4" and double 4-1/2" Dutch lap - 16' 8"
                        </li>
                        <li>
                            Available in a vertical 7” Board & Batten which is perfect for accents on a home
                        </li>
                        <li>
                            Tornado-tough, double-thick nail hem
                        </li>
                        <li>
                            Enhanced 3/4" panel projection
                        </li>
                        <li>
                            Kynar 500&reg; protection*
                        </li>
                        <li>
                            Duranyl 5000&reg; protection system
                        </li>
                        <li>
                            Mastic hang-tough&trade; technology
                        </li>
                        <li>
                            Class 1(a) fire rating
                        </li>
                        <li>
                            Available in 35 colors
                        </li>
                    </ul>
                    <p>
                        Western Siding is an authorized dealer of Mastic Home Exteriors - Quest Signature Vinyl Siding serving Boise, Idaho and the Treasure Valley communities of Meridian, Eagle, Nampa, and Caldwell. You can shop in our showroom or schedule a free estimate at your home or commercial property.
                    </p>
                </div>
            </div>
        </article>
    </div>
</main>