<div id="nav-sub">
    <div id="categories">
        <h2>
            Categories
        </h2>
        <nav class="category-menu">
            <nav class="drop-down-menu">
                <input type="checkbox" class="activate" id="accordion-1" name="accordion-1" checked="">
                <label for="accordion-1" class="menu-title">Siding <span><i
                            class="fas fa-chevron-down"></i></span></label>
                <div class="drop-down">
                    <a asp-page="/Siding/PlyGemSteelSiding">Ply Gem Steel Lap Siding</a>
                    <a asp-page="/Siding/QuestSignatureVinyl">Quest Vinyl Siding</a>
                    <a asp-page="/Siding/MasticCedarDiscoveryShakesShingles">Mastic Cedar Discovery Shakes &amp;
                        Shingles</a>
                    <a asp-page="/Siding/StructureInsulated">Structure Insulated</a>
                    <a asp-page="/Siding/TrimAndAccessories">Mastic Vinyl Accessories and Upgrades</a>
                    <a asp-page="/Siding/EverlastAdvancedCompositeSiding">Everlast, Advanced Composite Siding</a>
                    <a asp-page="/Siding/BoralVersettaStone">Boral Versetta Stone</a>
                    <a asp-page="/Siding/MasticWesternExtreme">Mastic Western Extreme</a>
                    <a asp-page="/Siding/AdditionalSidingProducts">Additional Siding Products</a>
                </div>
            </nav>
            <nav class="drop-down-menu">
                <input type="checkbox" class="activate" id="accordion-2" name="accordion-2" checked="">
                <label for="accordion-2" class="menu-title">Windows <span><i
                            class="fas fa-chevron-down"></i></span></label>
                <div class="drop-down">
                    <a asp-page="/Windows/ProviaAspect">ProVia Aspect Windows</a>
                    <a asp-page="/Windows/ProviaEndure">ProVia Endure Windows</a>
                    <a asp-page="/Windows/BayAndBowWindows">Bay and Bow Windows</a>
                    <a asp-page="/Windows/CasementWindows">Casement and Awning Windows</a>
                </div>
            </nav>
            <nav class="drop-down-menu">
                <input type="checkbox" class="activate" id="accordion-3" name="accordion-3" checked="">
                <label for="accordion-3" class="menu-title">Patio Doors <span><i
                            class="fas fa-chevron-down"></i></span></label>
                <div class="drop-down">
                    <a asp-page="/Doors/ClassicFrenchDoor">Classic French Door</a>
                    <a asp-page="/Doors/RivieraFrenchSlider">Riviera French Slider</a>
                    <a asp-page="/Doors/NewHorizonPatioDoor">New Horizon Patio Door</a>
                    <a asp-page="/Doors/SlidingPatioDoor2200">2200 Series Sliding Patio Door</a>
                </div>
            </nav>
            <nav class="drop-down-menu">
                <input type="checkbox" class="activate" id="accordion-4" name="accordion-4" checked="">
                <label for="accordion-4" class="menu-title">Exterior Entry Doors <span><i
                            class="fas fa-chevron-down"></i></span></label>
                <div class="drop-down">
                    <a asp-page="/Doors/TestEntryDoors">Entry Doors</a>
                </div>
            </nav>
            <nav class="drop-down-menu">
                <input type="checkbox" class="activate" id="accordion-4" name="accordion-4" checked="">
                <label for="accordion-4" class="menu-title">Soffit and Fascia <span><i
                            class="fas fa-chevron-down"></i></span></label>
                <div class="drop-down">
                    <a asp-page="/Siding/AluminumSoffitAndFascia">Aluminum Soffit and Fascia</a>
                </div>
            </nav>
        </nav>
    </div>
</div>
