@page "/soffit-fascia-boise-installations-idaho"
@model AluminumSoffitAndFasciaModel
@section Header
{
    <title>Boise Aluminum Soffit - Fascia Installations @@ Western Siding | Meridian Idaho</title>
    <meta name="description" content="Homeowner and professional trusted aluminum soffit and fascia back by industry leading warranties. Call Western Siding Today:(208) 855-0100" />
    <link rel="canonical" href="https://westernsiding.com/soffit-fascia-boise-installations-idaho" />
    <meta name="referrer" content="unsafe-url">
    <meta name="og:title" content="Western Siding" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="Homeowner and professional trusted aluminum soffit and fascia back by industry leading warranties. Call Western Siding Today:(208) 855-0100" />
    <meta name="og:site_name" content="https://westernsiding.com" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@WesternSiding">
    <meta name="twitter:title" content="Boise Aluminum Soffit - Fascia Installations @@ Western Siding | Meridian Idaho">
    <meta name="twitter:description" content="Homeowner and professional trusted aluminum soffit and fascia back by industry leading warranties. Call Western Siding Today:(208) 855-0100">
    <script type="application/ld+json">[{"@@context":"http://schema.org","@@type":"WebPage","mainEntity":{"@@type":"Product","name":"Mastic Aluminum Siding","url":"https://westernsiding.com/soffit-fascia-boise-installations-idaho","image":"https://westernsiding.com/images/mastic-aluminum-soffit-fascia-home.jpg","description":"Homeowner and professional trusted aluminum soffit and fascia back by industry leading warranties. Call Western Siding Today:(208) 855-0100.","brand":"Mastic Siding","manufacturer":"Ply Gem Industries","mpn":"2","sku":"0002","Review":{"ReviewBody":"They were willing to help, and here to do the repair in a timely manner.","Author":"Debbie Holsinger"}}},{"@@context":"https://schema.org/","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"name":"Western Siding Home","item":"https://westernsiding.com"},{"@@type":"ListItem","position":2,"name":"Siding Installation Contractor @@ Western Siding | Boise, Idaho","item":"https://westernsiding.com/boise-siding-installations-contractors-idaho"},{"@@type":"ListItem","position":3,"name":"Boise Aluminum Soffit - Fascia Installations @@ Western Siding | Meridian Idaho","item":"https://westernsiding.com/soffit-fascia-boise-installations-idaho"}]}]</script>
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li>
                        <a asp-page="/Siding/PlyGemSteelSiding">Ply Gem Steel Lap Siding</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/QuestSignatureVinyl">Quest</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/Aluminum">Mastic Aluminum Lap Siding</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/MasticCedarDiscoveryShakesShingles">Mastic Cedar Discovery Shakes &amp; Shingles</a>
                    </li>
                    <li class="current">
                        <a asp-page="/Siding/AluminumSoffitAndFascia">Aluminum Soffit and Fascia</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/StructureInsulated">Structure Insulated</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/TrimAndAccessories">Mastic Vinyl Accessories and Upgrades</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/EverlastAdvancedCompositeSiding">Everlast, Advanced Composite Siding</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/BoralVersettaStone">Boral Versetta Stone</a>
                    </li>
                </ul>
            </nav>
            <h1>
                <img alt="Aluminum Soffit - Fascia Boise" class="float-right" height="81" src="/images/mastic-home-interiors.png" width="228" /> Mastic | Aluminum Soffit and Fascia Installations - Western Siding
            </h1>
            <p>
                Mastic products represent a legacy of durability that has been trusted by homeowners and professionals for years. Our quality soffit and fascia products are solidly constructed and come in a wide array of colors that give you the freedom to explore new design ideas. All of our soffit and fascia products are backed by comprehensive warranties that are among the best in the business.
            </p>
            <p>
                <img alt="Boise Aluminum Soffit - Fascia Installations - Installers" class="float-left" height="150" src="/images/mastic-aluminum-soffit-fascia-home.jpg" width="200" />
            </p>
            <ul>
                <li>
                    6 inch V-Groove style replicates tongue and groove soffit system.
                </li>
                <li>
                    .016" and .019" thicknesses.
                </li>
                <li>
                    Color coordinated fascia in 4", 6", 8" and 10" sizes.
                </li>
                <li>
                    Hidden fastener installation.
                </li>
                <li>
                    Aluminum adds lateral strength for cleaner look.
                </li>
                <li>
                    Alumalure 2000 paint finish for long lasting beauty.
                </li>
                <li>
                    Perforated aluminum V-Groove panels allow for most net free ventilation of any aluminum soffit system.
                </li>
            </ul>
            <p class="clear">
                Western Siding is an authorized dealer of Mastic Home Exteriors aluminum soffit and fascia products serving Boise, Idaho and the Treasure Valley communities of Meridian, Eagle, Nampa, and Caldwell. You can shop in our showroom or schedule a free estimate at your home or commercial property.
            </p>
        </article>
    </div>
</main>