@page "/mastic-cedar-discovery"
@model BA.WesternSiding.Pages.Siding.MasticCedarDiscoveryShakesShinglesModel
@section Header
{
    <title>Mastic Cedar Discovery Shakes &amp; Shingles @@ Western Siding</title>
    <link rel="canonical" href="https://westernsiding.com/mastic-cedar-discovery" />
    <meta name="description" content=" CALL (208) 855-0100." />
    <meta name="referrer" content="unsafe-url">
    <meta name="of:title" content="Mastic Cedar Discovery Shakes &amp; Shingles @@ Western Siding" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com/mastic-cedar-discovery" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="" />
    <meta name="og:site_name" content="https://westernsiding.com" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@WesternSiding">
    <meta name="twitter:title" content="S">
    <meta name="twitter:description" content="Western Siding is Idaho's premiere window replacement, siding products, and door installation specialists. Satisfaction Guaranteed! CALL (208) 855-0100.">
    <script type="application/ld+json">
        [{"@@context":"http://schema.org","@@type":"Service","@@id":"https://westernsiding.com/service/","name":"Siding, Windows & Door Installation","description":"Western Siding is Idaho's premiere window replacement, siding products, and door installation specialists.","areaServed":{"@@type":"GeoCircle","geoMidpoint":{"@@type":"GeoCoordinates","latitude":"43.605214","longitude":"-116.404079"},"geoRadius":"160934.4"}},{"@@context":"http://schema.org","@@type":"WebPage","name":"Siding, Windows & Door Installers @@ Western Siding","description":"Western Siding is Idaho's premiere window replacement, siding products, and door installation specialists. Satisfaction Guaranteed! CALL (208) 855-0100.","publisher":{"@@type":"Person","name":"Tom Bruck"}},{"@@context":"https://schema.org/","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"name":"Western Siding Home","item":"https://westernsiding.com"},{"@@type":"ListItem","position":2,"name":"Siding, Windows & Door Installers @@ Western Siding","item":"https://westernsiding.com/siding-windows-doors-installers-boise-idaho"}]}]
    </script>
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li>
                        <a asp-page="/Siding/PlyGemSteelSiding">Ply Gem Steel Lap Siding</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/QuestSignatureVinyl">Quest</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/Aluminum">Mastic Aluminum Lap Siding</a>
                    </li>
                    <li class="current">
                        <a asp-page="/Siding/MasticCedarDiscoveryShakesShingles">Mastic Cedar Discovery Shakes &amp; Shingles</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/AluminumSoffitAndFascia">Aluminum Soffit and Fascia</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/StructureInsulated">Structure Insulated</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/TrimAndAccessories">Mastic Vinyl Accessories and Upgrades</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/EverlastAdvancedCompositeSiding">Everlast, Advanced Composite Siding</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/BoralVersettaStone">Boral Versetta Stone</a>
                    </li>
                </ul>
            </nav>
            <h1>
                Mastic™ Cedar Discovery® Shakes and Shingles
            </h1>
            <p>
                For those seeking the look of real cedar, but the durability of vinyl look no further than Cedar Discovery®. Mastic Cedar Discovery® has all the charms of cedar shake and shingle siding without the worry of staining, painting, or replacing. This premium vinyl siding is durable and built to resist the elements.
            </p>
            <h2>
                Benefits
            </h2>
            <p>
                <strong>Strong and Durable</strong> - Siding that is durable and extra thick to resist dents and withstand wind speeds of up to 230 mph.
            </p>
            <p>
                <strong>Beautiful and Appealing</strong> - Detailed cedar shake texture with shadow lines to help your home stand out.
            </p>
            <p>
                <strong>No Need to Paint</strong> - Our siding does not require it.
            </p>
            <p>
                <strong>Tornado-Tough, Double-Thick Nail Hem</strong> – Fold-over nail hem features a projected stop with a stronger anchoring surface, so siding stays firmly in place.
            </p>
            <p>
                <strong>Flexible</strong> - Panels are flexible, allowing you to install in tight places and create a perfect fit and finish.
            </p>
            <p>
                <strong>C-LOK™ Continuous Locking System</strong> – Our exclusive snap-in locking system provides twice as much support as other tab-type systems.
            </p>
            <p>
                <strong>Sustainable Formula</strong> - Our vinyl siding is eco-friendly.
            </p>
            <p>
                VIP Limited Lifetime Warranty - Premium guarantee of lasting quality and peace of mind (see warranty for complete details.)
</p>
        </article>
    </div>
</main>