@page "/installations-ovation-vinyl-siding-boise-idaho"
@model BA.WesternSiding.Pages.Siding.OvationVinylModel
@{
    ViewData["Title"] = "Ovation Vinyl Siding Installations - Boise Idaho - Western Siding";
}
@section Metatags
{
    <meta name="description" content="Ovation Vinyl Siding. The value priced Ovation panel is available in 20 colors and four panel styles, Ovation is engineered for strength and...">
    <meta name="keywords" content="">
    <link rel="canonical" href="https://www.westernsiding.com/installations-ovation-vinyl-siding-boise-idaho" />
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li>
                        <a asp-page="/Siding/Aluminum">Aluminum</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/AluminumSoffitAndFascia">Aluminum Soffit and Fascia</a>
                    </li>
                    <li class="current">
                        <a asp-page="/Siding/OvationVinyl">Ovation Vinyl</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/QuestSignatureVinyl">Quest Signature Vinyl</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/SeamlessSteel">Seamless Steel</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/PlyGemSteelSiding">Ply Gem Steel Siding</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/StructureInsulated">Structure Insulated</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/TrimAndAccessories">Trim and Accessories</a>
                    </li>
                </ul>
            </nav>
            <h1>
                <img alt="Mastic Ovation Vinyl Siding" class="float-right" height="81" src="/images/mastic-home-interiors.png" width="228" /> Ovation Vinyl Siding
            </h1>
            <p>
                The value priced Ovation panel is available in 20 colors and four panel styles, Ovation is engineered for strength and durability. Our exclusive Snap+Lock+Hold&trade; Locking System keeps panels in place - even during high winds. With vivid color throughout, and strength across the board, Ovation more than earns its name.`
            </p>
            <p>
                <img alt="Mastic Ovation Boise Installations" class="float-left" height="150" src="/images/mastic-ovation-home.jpg" width="200" />
            </p>

            <ul>
                <li>
                    Snap+lock+hold&trade; locking system
                </li>
                <li>
                    The .042 Color leader - 20 colors
                </li>
                <li>
                    Rollover, reinforced nail hem
                </li>
                <li>
                    9/16" Panel projection
                </li>
                <li>
                    Duranyl 5000&reg; protection system
                </li>
                <li>
                    Mastic hang-tough&trade; technology
                </li>
                <li>
                    Class 1(a) fire rating
                </li>
            </ul>

            <p class="clear">
                Western Siding is an authorized dealer of Mastic Home Exteriors - Ovation Vinyl Siding serving Boise, Idaho and the Treasure Valley communities of Meridian, Eagle, Nampa, and Caldwell. You can shop in our showroom or schedule a free estimate at your home or commercial property.
            </p>
        </article>
    </div>
</main>
