@page "/ply-gem-steel-siding"
@model BA.WesternSiding.Pages.Siding.PlyGemSteelSidingModel
@{
    ViewData["Title"] = "Ply Gem Steel Siding - Western Siding";
}
@section Metatags
{
    <meta name="description" content="Plygem Steel Siding. Steel siding is the toughest, most durable, and longest lasting siding available for you rhome. At Ply Gem, we've added...">
    <meta name="keywords" content="">
    <link rel="canonical" href="https://www.westernsiding.com/ply-gem-steel-siding" />
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li>
                        <a asp-page="/Siding/Aluminum">Aluminum</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/AluminumSoffitAndFascia">Aluminum Soffit and Fascia</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/OvationVinyl">Ovation Vinyl</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/QuestSignatureVinyl">Quest Signature Vinyl</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/SeamlessSteel">Seamless Steel</a>
                    </li>
                    <li class="current">
                        <a asp-page="/Siding/PlyGemSteelSiding">Ply Gem Steel Siding</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/StructureInsulated">Structure Insulated</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/TrimAndAccessories">Trim and Accessories</a>
                    </li>
                </ul>
            </nav>
            <h1>
                Plygem Steel Siding
            </h1>
            <p>
                <img alt="Plygem Steel Siding on a Home" class="float-right" height="285" src="/images/home-with-plygem-steel-siding.jpg" width="200" /> Steel siding is the toughest, most durable, and longest lasting siding available for you rhome. At Ply Gem, we've added those traits with the warmth and beauty of wood. This not only makes your home stand out, but also protects your home nearly maintenance-free.
            </p>
            <h2>
                Seamless Protection
            </h2>
            <p>
                Homes come in various shapes and sizes. Fortunately, Ply Gem Steel Siding can be custom fitted to your home for a modern, sleek look that flows seamlessly. Fascia, accent siding, gutters, and soffits can be coordinated to match the siding you choose. This seamless integration removes seams and breakpoints in your siding, protecting your home with a tough, durable barrier.
            </p>
            <h2>
                <img alt="Close Up of Plygem Steel Siding" class="float-left" src="/images/closeup-steel-siding.jpg" width="123" height="200" /> Features and benefits
            </h2>
            <p>
                <strong>Exceptionally Strong</strong>
                <br />
                Durable and extra thick to resist dents from everyday life, and it’s so strong it’s approved for 6-story buildings
            </p>
            <p>
                <strong>High Wind Speed</strong>
                <br />
                Withstands up to 235 mph winds
            </p>
            <p>
                <strong>Hot or Cold</strong>
                <br />
                Withstands extreme temperature changes
            </p>
            <p>
                <strong>Seamless Option Available</strong>
                <br />
                Custom fitted to your home for a sleek, consistent look and tough, continuous barrier
            </p>
            <p>
                <strong>Exceptional Curb Appeal</strong>
                <br />
                Beautifully detailed texture with the look of freshly painted wood and a deep shadow line to make your home stand out
            </p>
            <p>
                <strong>Low Maintenance</strong>
                <br />
                Doesn’t require painting so you can spend more time enjoying your home, not maintaining it
            </p>
            <p>
                <strong>Sustainable Formula</strong>
                <br />
                Sustainable and recyclable for a better, eco-friendly choice
            </p>
            <p>
                <strong>Hold-Tight Installation and Superior Tensile Strength</strong>
                <br />
                For easier installation and secure fastening
            </p>
            <p>
                <strong>5-Layer Armored Defense</strong>
                <br />
                Proprietary, multi-layered, low-gloss finish protects against rust and insects while repelling moisture and mildew for superior weatherability and color retention
            </p>
            <p>
                <strong>Limited Lifetime Prorated Warranty</strong>
                <br />
                Premium guarantee of lasting quality and peace of mind with 50-year hail and 35-year chalk and fade coverage (see warranty for complete details)
            </p>
            <p>
                For more information on available styles, colors, and accents and accessories, <a href="/documents/ply-gem-steel-siding.pdf">download the Ply Gem Steel Siding brochure</a>.
            </p>
        </article>
    </div>
</main>
