@page "/installations-vinyl-boise-idaho"
@model BA.WesternSiding.Pages.Siding.QuestSignatureVinylModel
@{
    ViewData["Title"] = "QuestSignatureVinyl";
}
@section Metatags
{
    <meta name="description" content="Quest Signature&amp;trade; Vinyl Siding - Majestic Home Exteriors | Western Siding. A premium vinyl siding with the classic look of authentic cedar. Solid...">
    <meta name="keywords" content="">
    <link rel="canonical" href="https://www.westernsiding.com/installations-vinyl-boise-idaho" />
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li>
                        <a asp-page="/Siding/Aluminum">Aluminum</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/AluminumSoffitAndFascia">Aluminum Soffit and Fascia</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/OvationVinyl">Ovation Vinyl</a>
                    </li>
                    <li class="current">
                        <a asp-page="/Siding/QuestSignatureVinyl">Quest Signature Vinyl</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/SeamlessSteel">Seamless Steel</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/PlyGemSteelSiding">Ply Gem Steel Siding</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/StructureInsulated">Structure Insulated</a>
                    </li>
                    <li>
                        <a asp-page="/Siding/TrimAndAccessories">Trim and Accessories</a>
                    </li>
                </ul>
            </nav>
            <h1>
                <img alt="Quest Signature Mastic Siding Installers Boise, Idaho" class="float-right" height="81" src="/images/mastic-home-interiors.png" width="228" /> Quest Signature&trade; Vinyl Siding - Majestic Home Exteriors | Western Siding
            </h1>
            <p>
                A premium vinyl siding with the classic look of authentic cedar. Solid and tough. A tornado-tough, double-thick nail hem that keeps siding firmly in position, even during high winds. Patented T3-Lok&reg; panel locking system eases installation and increases strength. Quest Signature&trade;. Incomparable beauty. Unmatched performance.
            </p>
            <p>
                <img alt="Mastic Dealer Idaho - Quest Signature Vinyl Siding Installations" class="float-left" height="190" src="/images/mastic-quest-signature-home.jpg" width="240" />
            </p>
            <ul>
                <li>
                    Wind speed - rated up to 240 mph
                </li>
                <li>
                    Patented t3-lok&trade; locking system
                </li>
                <li>
                    New premium .046 Thickness
                </li>
                <li>
                    Longer lengths available in double 4" and double 4-1/2" Dutch lap - 16' 8"
                </li>
                <li>
                    Tornado-tough, double-thick nail hem
                </li>
                <li>
                    Enhanced 3/4" panel projection
                </li>
                <li>
                    Kynar 500&reg; protection*
                </li>
                <li>
                    Duranyl 5000&reg; protection system
                </li>
                <li>
                    Mastic hang-tough&trade; technology
                </li>
                <li>
                    Class 1(a) fire rating
                </li>
                <li>
                    Available in 35 colors
                </li>
            </ul>
            <p>
                Western Siding is an authorized dealer of Mastic Home Exteriors - Quest Signature Vinyl Siding serving Boise, Idaho and the Treasure Valley communities of Meridian, Eagle, Nampa, and Caldwell. You can shop in our showroom or schedule a free estimate at your home or commercial property.
            </p>
        </article>
    </div>
</main>