@page "/door-installation-boise"
@model DoorsModel
@section Header
{
    <title>Door Installation, Door Replacement @@ Western Siding | Boise, Idaho</title>
    <link rel="canonical" href="https://westernsiding.com/door-installation-boise" />
    <meta name="description" content="For over 20 years, the backbone of Western Siding has been our quality products and professional installation. CALL (208) 855-0100." />
    <meta name="referrer" content="unsafe-url">
    <meta name="of:title" content="Door Installation, Door Replacement @@ Western Siding | Boise, Idaho" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com/door-installation-boise" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="For over 20 years, the backbone of Western Siding has been our quality products and professional installation. CALL (208) 855-0100." />
    <meta name="og:site_name" content="https://westernsiding.com" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@WesternSiding">
    <meta name="twitter:title" content="Door Installation, Door Replacement @@ Western Siding | Boise, Idaho">
    <meta name="twitter:description" content="For over 20 years, the backbone of Western Siding has been our quality products and professional installation. CALL (208) 855-0100.">
    <script type="application/ld+json">[{"@@context":"http://schema.org","@@type":"Service","@@id":"https://westernsiding.com/service/","name":"Door Installation, Door Replacement @@ Western Siding | Boise, Idaho","description":"For over 20 years, the backbone of Western Siding has been our quality products and professional installation. CALL (208) 855-0100.","areaServed":{"@@type":"GeoCircle","geoMidpoint":{"@@type":"GeoCoordinates","latitude":"43.605214","longitude":"-116.404079"},"geoRadius":"160934.4"}},{"@@context":"http://schema.org","@@type":"WebPage","name":"Door Installation, Door Replacement @@ Western Siding | Boise, Idaho","description":"For over 20 years, the backbone of Western Siding has been our quality products and professional installation. CALL (208) 855-0100.","publisher":{"@@type":"Person","name":"Tom Bruck"}},{"@@context":"https://schema.org/","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"name":"Western Siding Home","item":"https://westernsiding.com"},{"@@type":"ListItem","position":2,"name":"Door Installation, Door Replacement @@ Western Siding | Boise, Idaho","item":"https://westernsiding.com/replacement-windows-installations-boise-idaho"}]}]</script>
}
<div class="banner banner-about">
    <div>
        <div class="inner">
            <h2>
                Patio Doors
            </h2>
            <span class="breadcrumb">
                <a href="/">Home</a> / Patio Doors
            </span>
        </div>
    </div>
</div>
<main>
    <div class="inner">
        <article id="content">
            <div id="two-column-flex">
                <div class="two-column-left">
                    <partial name="_SubNavigationPartial" />
                </div>
                <div class="two-column-right">
                    <img src="~/images/door-installers.jpg" alt="Idaho Door Installers" class="responsive" />
                    <h1>
                        Patio Door Installation | Boise, Idaho
                    </h1>
                    <p>
                        For over 20 years, the backbone of Western Siding has been our quality products and professional installation. Your door replacement is so much more than just a remodel, it’s an experience. Whether you are looking to enhance your home's style, increase curb value, ensure the safety of your home, or just increase the energy efficiency we can help! We offer a complete line of patio replacement doors from ProVia. Also proudly provide entry doors from ProVia, Therma-Tru and Stanley Exterior.
                       <br/>
                        Our doors will update the look and energy efficiency of your home, saving you money on your energy bill without maxing out your budget. Our doors are designed for simple seamless replacement and will fit an existing opening where other doors require costly remodeling. Find the perfect exterior door that will reflect your personal style. The materials we use, the methods of our craftsmanship and the care we take with each job is evident each and every day at Western Siding.
                        <br/>
                        Feel free to browse our selection of doors, or let us help find the door that is right for your home. Our experienced Installers can help you choose a product that is right for you, your home, and budget.
                        <br/>
                        <br/>
                    <p>
                       <strong>
                           Need information on Entry Doors and Entry Door Replacements?
                           <br/>
                           Visit our Entry Door page. 
                                @*Embed link here for exterior entry doors page*@
                       </strong>
                       <br/>
                    </p>
                    <h2>
                        <img alt="Amerimax Windows and Doors" class="float-right" height="48" src="/images/amerimax-windows-doors.png" width="200" /> ProVia Patio Door Options
                    </h2>

                    <div id="door-options">
                        <div>
                            <div class="wrapper">
                                <h3>
                                    <img alt="Expanded Viewing of AG3 Coating on Glass" class="float-right" height="80" src="/images/ag3-coating.png" width="56" />AG3 coating
                                </h3>
                                <p>
                                    Ameriglass™ AG3 Low Emissivity glass is coated with a microscopic 12 layer patented formula with three layers of Silver. The ultimate balance of energy savings, solar control and high visibility.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="wrapper">
                                <h3>
                                    <img alt="Neat Glass - Naturally Clean Glass" class="float-right" height="66" src="/images/neat-glass.png" width="125" /> Naturally Clean Glass - Let Nature do the Work.
                                </h3>
                                <p>
                                    A Titanium Dioxide layer reacts with sun to decompose organic materials on the glass. A Silicon Dioxide layer creates an ultra smooth surface and Hydrophilic action to disperse water evenly or “sheet off ”.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="wrapper">
                                <h3>
                                    <img alt="Argon Gas Fill" class="float-right" height="68" src="/images/argon-gas-fill.jpg" width="45" />Argon Gas Fill
                                </h3>
                                <p>
                                    Non-toxic, odorless and invisible Argon gas fill enhances the overall energy efficiency and can increase Total Window U Value performance by as much as 12% vs. traditional air fill.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="wrapper">
                                <h3>
                                    <img alt="True Warm Logo" class="float-right" height="61" src="/images/true-warm-logo.png" width="200" />True Warm Spacer System
                                </h3>
                                <p>
                                    Thermally non-conductive structural foam spacer creates the ultimate in energy saving performance and long-term durability.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>
