@page "/aristocrat-casement-windows-boise-idaho"
@model BA.WesternSiding.Pages.Windows.CasementWindowsModel
@{
    ViewData["Title"] = "Boise Aristocrat Casement Windows @ Western Siding Meridian, Idaho";
}
@section Metatags
{
    <meta name="description" content="Authorized Boise Aristocrat Casement Windows Installer. The completely New Aristocrat Casement Series embodies everything a casement window should be. Traditionally the most elegant...">
    <meta name="keywords" content="">
    <link rel="canonical" href="https://www.westernsiding.com/aristocrat-casement-windows-boise-idaho" />
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li class="current">
                        <a asp-page="/Windows/CasementWindows">Casement Windows</a>
                    </li>
                    <li>
                        <a asp-page="/Windows/BayAndBowWindows">Bay and Bow Windows</a>
                    </li>
                    <li>
                        <a asp-page="/Windows/MastersGrande">Masters Grande</a>
                    </li>
                    <li>
                        <a asp-page="/Windows/CraftsmanPortrait">Craftsman Portrait</a>
                    </li>
                </ul>
            </nav>
            <h1>
                <img alt="Amerimax Windows and Doors" class="float-right" height="48" src="/images/amerimax-windows-doors.png" width="200" /> Authorized Boise Aristocrat Casement Windows Installer
            </h1>
            <p>
                The completely New Aristocrat Casement Series embodies everything a casement window should be. Traditionally the most elegant of all window products with the tightest weather seal and rugged durability.
            </p>
            <p>
                This versatile series boasts full view design, heavy-duty 3 1/4" frame, smooth operation utilizing Roto hardware and a one touch multi-point locking system. The ultimate in beauty, strength, and protection against outside elements!
            </p>
            <p>
                The Aristocrat Series is presented in 1-lite, 2-lite, and 3-lite styles. Awning windows and fixed lite Picture Windows are also available and may be combined into a common frame providing perfect versatility in style.
            </p>
            <p>
                <strong>1 Lite Casement</strong> <img alt="Aristocrat 1 Lite Casement" class="float-left" height="150" src="/images/aristocrat-1-lite-casement.jpg" width="240" />
            </p>
            <ul>
                <li>
                    Single operation sash. Entire sash cranks outward.
                </li>
                <li>
                    Double strength glass, twice as thick as most windows. Makes them more efficient and quiet.
                </li>
                <li>
                    Super Spacer&reg; separates the two panes of glass providing a true thermal break from the inside to the outside panes.
                </li>
                <li>
                    AG3 glass. Three layers of the super energy efficient coating comes standard on all of our windows.
                </li>
                <li>
                    Custom sized to 1/8" increments so they fit your home perfectly without costly remodeling.
                </li>
                <li>
                    Argon gas filled insulated glass units for additional insulation.
                </li>
                <li>
                    Neat Glass. The smooth glass surface disperses water evenly, removing dirt more quickly and reducing water spots.
                </li>
            </ul>
            <p class="clear">
                <img alt="Aristocrat 2 Lite Casement" class="float-right" height="150" src="/images/aristocrat-2-lite-casement.jpg" width="240" /> <strong>2 Lite Casements</strong>
            </p>
            <ul>
                <li>
                    Two operating sash. Both sash crank out from center.
                </li>
                <li>
                    Double strength glass. Twice as thick as most windows. Makes them more efficient and quiet.
                </li>
                <li>
                    Super Spacer&reg; separates the two panes of glass providing a true thermal break from the inside to the outside panes.
                </li>
                <li>
                    AG3 glass. Three layers of the super energy efficient coating comes standard on all of our windows.
                </li>
                <li>
                    Custom sized to 1/8" increments so they fit your home perfectly without costly remodeling.
                </li>
                <li>
                    Argon gas filled insulated glass units for additional insulation.
                </li>
                <li>
                    Neat Glass. The smooth glass surface disperses water evenly, removing dirt more quickly and reducing water spots.
                </li>
                <li>
                    Argon gas filled insulated glass units for additional insulation.
                </li>
                <li>
                    Neat Glass. The smooth glass surface disperses water evenly, removing dirt more quickly and reducing water spots.
                </li>
            </ul>
            <p class="clear">
                <strong>3 Lite Casements</strong> <img alt="Aristocrat 3 Lite Casement" class="float-left" height="150" src="/images/aristocrat-3-lite-casement.jpg" width="240" />
            </p>
            <ul>
                <li>
                    Two operating and one fixed sash. Center sash is fixed and both sides crank out.
                </li>
                <li>
                    Double strength glass. Twice as thick as most windows. Makes them more efficient and quiet.
                </li>
                <li>
                    Super Spacer&reg; separates the two panes of glass providing a true thermal break from the inside to the outside panes.
                </li>
                <li>
                    AG3 glass. Three layers of the super energy efficient coating comes standard on all of our windows.
                </li>
                <li>
                    Custom sized to 1/8" increments so they fit your home perfectly without costly remodeling.
                </li>
                <li>
                    Argon gas filled insulated glass units for additional insulation.
                </li>
                <li>
                    Neat Glass. The smooth glass surface disperses water evenly, removing dirt more quickly and reducing water spots.
                </li>
            </ul>
        </article>
    </div>
</main>
