@page "/craftsman-portrait-windows-replacement-boise-idaho-amerimax"
@model BA.WesternSiding.Pages.Windows.CraftsmanPortraitModel
@section Header
{
    <title>Craftsman Portrait Series @@ Western Siding | Meridian Idaho</title>
    <meta name="description" content="Amerimax's Craftsman Portrait series is a great choice for the cost conscious buyer. Call Western Siding Today:(208) 855-0100" />"
    <link rel="canonical" href="https://www.westernsiding.com/craftsman-portrait-windows-replacement-boise-idaho-amerimax" />
    <meta name="referrer" content="unsafe-url">
    <meta name="og:title" content="Western Siding" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="Amerimax's Craftsman Portrait series is a great choice for the cost conscious buyer. Call Western Siding Today:(208) 855-0100" />
    <meta name="og:site_name" content="https://westernsiding.com" />
    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "LocalBusiness",
        "logo": "https://westernsiding.com/images/western-siding-logo.png",
        "name": "Western Siding",
        "url": "https://westernsiding.com/",
        "image": "https://westernsiding.com/images/contact-western-siding.jpg",
        "priceRange": "$$$$",
        "telephone": "+1-208-855-0100",
        "address": {
        "streetAddress": "850 W Franklin Rd",
        "addressLocality": "Meridian",
        "addressRegion": "ID",
        "postalCode": "83642",
        "addressCountry": "United States",
        "@@type": "PostalAddress"
        },
        "contactPoint": {
        "@@type": "ContactPoint",
        "contactType": "Sales",
        "email": "Tom@westernsiding.com",
        "telephone": "+1-208-855-0100"
        },
        "sameAs": [
        "https://www.facebook.com/WesternSidingIdaho/"
        ]
        },
        {
        "@@context": "http://schema.org",
        "@@type": "Website",
        "name": "Western Siding",
        "url": "https://westernsiding.com",
        "contentRating": "G",
        "keywords": "siding, doors, windows, installation, replacement, idaho, home exterior",
        "sameAs": [
        "https://www.facebook.com/WesternSidingIdaho/"
        ]
        },
        {
        "@@context": "https://schema.org/",
        "@@type": "Thing",
        "name": "Aristocrat Casement Windows",
        "url": "https://www.westernsiding.com/craftsman-portrait-windows-replacement-boise-idaho-amerimax",
        "description": "Amerimax's Craftsman Portrait series is a great choice for the cost conscious buyer. Call Western Siding Today:(208) 855-0100"
        }
        ]
    </script>
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li>
                        <a asp-page="/Windows/CasementWindows">Casement Windows</a>
                    </li>
                    <li>
                        <a asp-page="/Windows/BayAndBowWindows">Bay and Bow Windows</a>
                    </li>
                    <li>
                        <a asp-page="/Windows/MastersGrande">Masters Grande</a>
                    </li>
                    <li class="current">
                        <a asp-page="/Windows/CraftsmanPortrait">Craftsman Portrait</a>
                    </li>
                </ul>
            </nav>
            <h1>
                <img alt="Amerimax Windows and Doors" class="float-right" height="48" src="/images/amerimax-windows-doors.png" width="200" /> Amerimax Windows Craftsman Portrait Series | Western Siding Meridian, Idaho
            </h1>
            <p>
                Amerimax's Craftsman Portrait series is a great choice for the cost conscious buyer. You get the same great energy efficiency of the Master Grande series yet with only a single rather than a double operating sash system. The Craftsman series offers the same flexibility in design and style choices. The recent update to the design of the Craftsman Portrait series added a substantial upgrade to the popular line. These windows now come in a wider variety of styles that are sure to enhance your home's beauty
            </p>
            <p>
                <strong>Single Hung Windows</strong> <img alt="Craftsman Portrait Single Hung" class="float-left" height="180" src="/images/craftsman-portrait-single-hung.jpg" width="240" />
            </p>
            <ul>
                <li>
                    One operating sash. Bottom moves up and down.
                </li>
                <li>
                    Bottom sash tilts in for easy cleaning.
                </li>
                <li>
                    Constant velocity balancers. Up and down movement takes the same amount of pressure.
                </li>
                <li>
                    Double strength glass. Twice as thick as most windows. Makes them more efficient and quiet.
                </li>
                <li>
                    Super Spacer&reg; separates the two panes of glass providing a true thermal break from the inside to the outside panes.
                </li>
                <li>
                    AG3 glass. Three layers of the super energy efficient coating comes standard on all of our windows.
                </li>
                <li>
                    Custom sized to 1/8" increments so they fit your home perfectly without costly remodeling.
                </li>
                <li>
                    Argon gas filled insulated glass units for additional insulation.
                </li>
                <li>
                    Neat Glass. The smooth glass surface disperses water evenly, removing dirt more quickly and reducing water spots.
                </li>
            </ul>
            <p class="clear">
                <img alt="Craftsman Portrait 2 Lite Sliders" class="float-right" height="180" src="/images/craftsman-portrait-2-lite-sliders.jpg" width="240" /><strong>2 Lite Sliders</strong>
            </p>
            <ul>
                <li>
                    One operating sash. Single sash moves to center.
                </li>
                <li>
                    Sash lifts out for easy cleaning.
                </li>
                <li>
                    Brass, rather than nylon rollers for a lifetime of smooth operation.
                </li>
                <li>
                    Double strength glass. Twice as thick as most windows. Makes them more efficient and quiet.
                </li>
                <li>
                    Super Spacer&reg; separates the two panes of glass providing a true thermal break from the inside to the outside panes.
                </li>
                <li>
                    AG3 glass. Three layers of the super energy efficient coating comes standard on all of our windows.
                </li>
                <li>
                    Custom sized to 1/8" increments so they fit your home perfectly without costly remodeling.
                </li>
                <li>
                    Argon gas filled insulated glass units for additional insulation.
                </li>
                <li>
                    Neat Glass. The smooth glass surface disperses water evenly, removing dirt more quickly and reducing water spots.
                </li>
            </ul>
            <p class="clear">
                <strong>3 Lite Sliders</strong> <img alt="Craftsman Portrait 3 Lite Sliders" class="float-left" height="180" src="/images/craftsman-portrait-3-lite-sliders.jpg" width="240" />
            </p>
            <ul>
                <li>
                    Two operating and one fixed sash. Center Sash is fixed and both sides move to center.
                </li>
                <li>
                    Both side sash lift out for easy cleaning.
                </li>
                <li>
                    Double strength glass. Twice as thick as most windows. Makes them more efficient and quiet.
                </li>
                <li>
                    Super Spacer&reg; separates the two panes of glass providing a true thermal break from the inside to the outside panes.
                </li>
                <li>
                    AG3 glass. Three layers of the super energy efficient coating comes standard on all of our windows.
                </li>
                <li>
                    Custom sized to 1/8" increments so they fit your home perfectly without costly remodeling.
                </li>
                <li>
                    Argon gas filled insulated glass units for additional insulation.
                </li>
                <li>
                    Neat Glass. The smooth glass surface disperses water evenly, removing dirt more quickly and reducing water spots.
                </li>
            </ul>
            <p class="clear">
                <strong>Other common frame configurations</strong>
            </p>
            <div>
                <ul>
                    <li>
                        Picture window over slider
                    </li>
                    <li>
                        Split picture window over slider
                    </li>
                    <li>
                        Picture window over 3 lite slider
                    </li>
                    <li>
                        Triple split picture window over 3 lite slider
                    </li>
                    <li>
                        Side by side single hung windows
                    </li>
                    <li>
                        Side by side Picture window single hung
                    </li>
                    <li>
                        Triple single hungs
                    </li>
                    <li>
                        Single hung/picture window/single hung
                    </li>
                </ul>
            </div>
        </article>
    </div>
</main>
