@page "/masters-grande-replacement-windows-boise-idaho"
@model MastersGrandeModel
@section Header
{
    <title>Master Grande Energy Efficient Windows @@ Western Siding | Meridian Idaho</title>
    <meta name="description" content="Their high quality engineering make them some of the most energy efficient windows available on the current replacement windows market. Call Western Siding Today:(208) 855-0100" />
    <link rel="canonical" href="https://westernsiding.com/masters-grande-replacement-windows-boise-idaho" />
    <meta name="referrer" content="unsafe-url">
    <meta name="og:title" content="Western Siding" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="Their high quality engineering make them some of the most energy efficient windows available on the current replacement windows market. Call Western Siding Today:(208) 855-0100" />
    <meta name="og:site_name" content="https://westernsiding.com" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@WesternSiding">
    <meta name="twitter:title" content="Master Grande Energy Efficient Windows @@ Western Siding | Meridian Idaho">
    <meta name="twitter:description" content="Their high quality engineering make them some of the most energy efficient windows available on the current replacement windows market. Call Western Siding Today:(208) 855-0100">
    <script type="application/ld+json">[{"@@context":"http://schema.org","@@type":"WebPage","mainEntity":{"@@type":"Product","@@id":"https://westernsiding.com/product/","name":"Master Grande Energy Efficient Windows","url":"https://westernsiding.com/masters-grande-replacement-windows-boise-idaho","image":"https://westernsiding.com/images/master-grande-double-hung.jpg","description":"Their high quality engineering make them some of the most energy efficient windows available on the current replacement windows market. Call Western Siding Today:(208) 855-0100","brand":"Amerimax Master Grande Windows","manufacturer":"Amerimax Windows & Doors","mpn":"17","sku":"0017","Review":{"ReviewBody":"They were willing to help, and here to do the repair in a timely manner.","Author":"Debbie Holsinger"}}},{"@@context":"https://schema.org/","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"name":"Western Siding Home","item":"https://westernsiding.com"},{"@@type":"ListItem","position":2,"name":"Replacement Window Installation @@ Western Siding","item":"https://westernsiding.com/replacement-windows-installations-boise-idaho"},{"@@type":"ListItem","position":3,"name":"Master Grande Energy Efficient Windows @@ Western Siding | Meridian Idaho","item":"https://westernsiding.com/masters-grande-replacement-windows-boise-idaho"}]}]</script>
}
<div class="banner banner-about">
    <div>
        <div class="inner">
            <h2>
                Master Grande
            </h2>
            <span class="breadcrumb">
                <a href="/">Home</a> / <a asp-page="/Windows">Windows</a> / Master Grande
            </span>
        </div>
    </div>
</div>
<main>
    <div class="inner">
        <article id="content">
            <div id="two-column-flex">
                <div class="two-column-left">
                    <partial name="_SubNavigationPartial" />
                </div>
                <div class="two-column-right">
                    <h1>
                        <img alt="Amerimax Replacement Windows - Doors Installations" class="float-right" height="48" src="/images/amerimax-windows-doors.png" width="200" /> Amerimax Master Grande Energy Efficient Replacement Windows Installations
                    </h1>
                    <p>
                        Amerimax's premier line of windows offer the most flexibility in design and style choices. Their high quality engineering make them some of the most energy efficient windows available on the current replacement windows market. Two operating and removable sash make the windows easy to clean and provide better air flow in rooms with only one window. The recent update to the design of the Masters Grande series added enhanced aesthetics to the original design. The upgrades features interior beveled frames and sashes, slender profiles and sleek smooth narrow lines giving you more viewable area while maintaining its energy efficiency.
                    </p>
                    <p>
                        <strong>Amerimax Masters Grande Series - Twin Hung Windows</strong> <img alt="Masters Grande Twin and Triple Hung Windows" class="float-left" height="190" src="/images/master-grande-double-hung.jpg" width="240" />
                    </p>
                    <ul>
                        <li>
                            Two operating sash. Bottom moves up, top moves down.
                        </li>
                        <li>
                            Both sash tilt in for easy cleaning.
                        </li>
                        <li>
                            Constant velocity balancers. Up and down movement takes the same amount of pressure.
                        </li>
                        <li>
                            Double strength glass. Twice as thick as most windows. Makes them more efficient and quiet.
                        </li>
                        <li>
                            Super Spacer&reg; separates the two panes of glass providing a true thermal break from the inside to the outside panes.
                        </li>
                        <li>
                            AG3 glass. Three layers of the super energy efficient coating comes standard on all of our windows.
                        </li>
                        <li>
                            Custom sized to 1/8" increments so they fit your home perfectly without costly remodeling.
                        </li>
                        <li>
                            Argon gas filled insulated glass units for additional insulation.
                        </li>
                        <li>
                            Neat Glass. The smooth glass surface disperses water evenly, removing dirt more quickly and reducing water spots.
                        </li>
                    </ul>
                    <p class="clear">
                        <img alt="Master Grande 2 Lite Sliders" class="float-right" height="190" src="/images/master-grande-2-lite.jpg" width="240" /> <strong>2 Lite Sliders</strong>
                    </p>
                    <ul>
                        <li>
                            Two operating sash. Both sash move to center.
                        </li>
                        <li>
                            Both sash lift out for easy cleaning.
                        </li>
                        <li>
                            Brass, rather than nylon rollers for a lifetime of smooth operation.
                        </li>
                        <li>
                            Double strength glass. Twice as thick as most windows. Makes them more efficient and quiet.
                        </li>
                        <li>
                            Super Spacer&reg; separates the two panes of glass providing a true thermal break from the inside to the outside panes.
                        </li>
                        <li>
                            AG3 glass. Three layers of the super energy efficient coating comes standard on all of our windows.
                        </li>
                        <li>
                            Custom sized to 1/8" increments so they fit your home perfectly without costly remodeling.
                        </li>
                        <li>
                            Argon gas filled insulated glass units for additional insulation.
                        </li>
                        <li>
                            Neat Glass. The smooth glass surface disperses water evenly, removing dirt more quickly and reducing water spots.
                        </li>
                    </ul>
                    <p class="clear">
                        <strong>3 Lite Sliders</strong><img alt="Master Grande 3 Lite Sliders" class="float-left" height="190" src="/images/master-grande-3-lite.jpg" width="240" />
                    </p>
                    <ul>
                        <li>
                            Two operating and one fixed sash. Center Sash is fixed and both sides move to center.
                        </li>
                        <li>
                            Both side sash lift out for easy cleaning.
                        </li>
                        <li>
                            Double strength glass. Twice as thick as most windows. Makes them more efficient and quiet.
                        </li>
                        <li>
                            Super Spacer&reg; separates the two panes of glass providing a true thermal break from the inside to the outside panes.
                        </li>
                        <li>
                            AG3 glass. Three layers of the super energy efficient coating comes standard on all of our windows.
                        </li>
                        <li>
                            Custom sized to 1/8" increments so they fit your home perfectly without costly remodeling.
                        </li>
                        <li>
                            Argon gas filled insulated glass units for additional insulation.
                        </li>
                        <li>
                            Neat Glass. The smooth glass surface disperses water evenly, removing dirt more quickly and reducing water spots.
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</main>
