@page "/classic-french-door-boise"
@model BA.WesternSiding.Pages.Doors.ClassicFrenchDoorModel
@section Header
{
    <title>Classic French Doors @@ Western Siding | Meridian Idaho</title>
    <meta name="description" content="Amerimax Classic French Doors are available in a variety of styles to fit your needs. Call Western Siding Today:(208) 855-0100" />"
    <link rel="canonical" href="https://www.westernsiding.com/classic-french-door-boise" />
    <meta name="referrer" content="unsafe-url">
    <meta name="og:title" content="Western Siding" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="Amerimax Classic French Doors are available in a variety of styles to fit your needs. Call Western Siding Today:(208) 855-0100" />
    <meta name="og:site_name" content="https://westernsiding.com" />
    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "LocalBusiness",
        "logo": "https://westernsiding.com/images/western-siding-logo.png",
        "name": "Western Siding",
        "url": "https://westernsiding.com/",
        "image": "https://westernsiding.com/images/contact-western-siding.jpg",
        "priceRange": "$$$$",
        "telephone": "+1-208-855-0100",
        "address": {
        "streetAddress": "850 W Franklin Rd",
        "addressLocality": "Meridian",
        "addressRegion": "ID",
        "postalCode": "83642",
        "addressCountry": "United States",
        "@@type": "PostalAddress"
        },
        "contactPoint": {
        "@@type": "ContactPoint",
        "contactType": "Sales",
        "email": "Tom@westernsiding.com",
        "telephone": "+1-208-855-0100"
        },
        "sameAs": [
        "https://www.facebook.com/WesternSidingIdaho/"
        ]
        },
        {
        "@@context": "http://schema.org",
        "@@type": "Website",
        "name": "Western Siding",
        "url": "https://westernsiding.com",
        "contentRating": "G",
        "keywords": "siding, doors, windows, installation, replacement, idaho, home exterior",
        "sameAs": [
        "https://www.facebook.com/WesternSidingIdaho/"
        ]
        },
        {
        "@@context": "https://schema.org/",
        "@@type": "Thing",
        "name": "Classic French Doors",
        "url": "https://westernsiding.com/classic-french-door-boise",
        "image": "https://westernsiding.com/images/mastic-aluminum-soffit-fascia-home.jpg",
        "description": "Amerimax Classic French Doors are available in a variety of styles to fit your needs. Call Western Siding Today:(208) 855-0100"
        }
        ]
    </script>
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li>
                        <a asp-page="/Doors/EntryDoors">Entry Doors</a>
                    </li>
                    <li class="current">
                        <a asp-page="/Doors/ClassicFrenchDoor">Classic French Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/RivieraFrenchSlider">Riviera French Slider</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/NewHorizonPatioDoor">New Horizon Patio Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/SlidingPatioDoor2200">2200 Series Sliding Patio Door</a>
                    </li>
                </ul>
            </nav>
            <h1>
                Classic French Door
            </h1>
            <p>
                <img alt="Classic French Door Handle from Amerimax" class="float-right" height="143" src="/images/classic-french-doors.jpg" width="200" /> Amerimax Classic French Patio Doors are available with Single Entry, Center Hinged or True French styles. Optional Sidelites may be added with matching wide French rail. Choose from operable venting in swing SideLites or the traditional fixed lite. High performance Ameriglass Low E2 and AG3 options are available to provide maximum Energy Efficiency and UV protection.
            </p>
            <h2>
                <img alt="Classic French Door Handle from Amerimax" class="float-left" height="213" src="/images/classic-french-door-handle.jpg" width="200" /> Features
            </h2>
            <ul>
                <li>
                    Tempered Ameriglass™ insulating glass featuring warm edge spacer.
                </li>
                <li>
                    Fusion welded frame and sash for greater strength and durability.
                </li>
                <li>
                    Multiple chambers provide layers of insulation even in the warmest or coldest temperatures.
                </li>
                <li>
                    Full perimeter weather strip provides protection from air and water infiltration.
                </li>
                <li>
                    Multi-point lock system with solid brass center deadbolt and key lock provide optimal safety.
                </li>
            </ul>
        </article>
    </div>
</main>
