@page "/classic-french-door-boise"
@model BA.WesternSiding.Pages.Doors.ClassicFrenchDoorModel
@{
    ViewData["Title"] = "Classic French Doors | Boise, ID - Western Siding";
}
@section Metatags
{
    <meta name="description" content="Amerimax Classic French Patio Doors are available with Single Entry, Center Hinged or True French styles. Optional Sidelites may be added with matching...">
    <meta name="keywords" content="">
    <link rel="canonical" href="https://www.westernsiding.com/classic-french-door-boise" />
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li>
                        <a asp-page="/Doors/EntryDoors">Entry Doors</a>
                    </li>
                    <li class="current">
                        <a asp-page="/Doors/ClassicFrenchDoor">Classic French Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/RivieraFrenchSlider">Riviera French Slider</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/NewHorizonPatioDoor">New Horizon Patio Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/SlidingPatioDoor2200">2200 Series Sliding Patio Door</a>
                    </li>
                </ul>
            </nav>
            <h1>
                Classic French Door
            </h1>
            <p>
                <img alt="Classic French Door Handle from Amerimax" class="float-right" height="143" src="/images/classic-french-doors.jpg" width="200" /> Amerimax Classic French Patio Doors are available with Single Entry, Center Hinged or True French styles. Optional Sidelites may be added with matching wide French rail. Choose from operable venting in swing SideLites or the traditional fixed lite. High performance Ameriglass Low E2 and AG3 options are available to provide maximum Energy Efficiency and UV protection.
            </p>
            <h2>
                <img alt="Classic French Door Handle from Amerimax" class="float-left" height="213" src="/images/classic-french-door-handle.jpg" width="200" /> Features
            </h2>
            <ul>
                <li>
                    Tempered Ameriglass™ insulating glass featuring warm edge spacer.
                </li>
                <li>
                    Fusion welded frame and sash for greater strength and durability.
                </li>
                <li>
                    Multiple chambers provide layers of insulation even in the warmest or coldest temperatures.
                </li>
                <li>
                    Full perimeter weather strip provides protection from air and water infiltration.
                </li>
                <li>
                    Multi-point lock system with solid brass center deadbolt and key lock provide optimal safety.
                </li>
            </ul>
        </article>
    </div>
</main>
