@page "/entry-doors-boise"
@model EntryDoorsModel
@section Header
{
    <title>Entry Doors @@ Western Siding | Meridian Idaho</title>
    <meta name="description" content="Entry doors function as a welcoming to those who come to visit and should be warm and welcoming. Call Western Siding Today:(208) 855-0100" />"
    <link rel="canonical" href="https://westernsiding.com/entry-doors-boise" />
    <meta name="referrer" content="unsafe-url">
    <meta name="og:title" content="Western Siding" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="Entry doors function as a welcoming to those who come to visit and should be warm and welcoming. Call Western Siding Today:(208) 855-0100" />
    <meta name="og:site_name" content="https://westernsiding.com" />
    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "WebPage",
        "mainEntity":{
        "@@type": "Product",
        "name": "Entry Doors",
        "url": "https://westernsiding.com/classic-french-door-boise",
        "image": "https://westernsiding.com/images/mastic-aluminum-soffit-fascia-home.jpg",
        "description": "Entry doors function as a welcoming to those who come to visit and should be warm and welcoming. Call Western Siding Today:(208) 855-0100",
        "brand": "Amerimax Entry Doors",
        "manufacturer": "Amerimax Windows & Doors",
        "mpn":"10",
        "sku": "0010",
        "Review":{
        "ReviewBody": "They were willing to help, and here to do the repair in a timely manner.",
        "Author":"Debbie Holsinger"
        }
        }},
        {
        "@@context": "https://schema.org/",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "name": "Western Siding Home",
        "item": "https://westernsiding.com"
        },{
        "@@type": "ListItem",
        "position": 2,
        "name": "Door Installation, Door Replacement @@ Western Siding | Boise, Idaho",
        "item": "https://westernsiding.com/door-installation-boise"
        },{
        "@@type": "ListItem",
        "position": 3,
        "name": "Entry Doors @@ Western Siding | Meridian Idaho",
        "item": "https://westernsiding.com/entry-doors-boise"
        }]
        }
        ]
    </script>
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li class="current">
                        <a asp-page="/Doors/EntryDoors">Entry Doors</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/ClassicFrenchDoor">Classic French Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/RivieraFrenchSlider">Riviera French Slider</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/NewHorizonPatioDoor">New Horizon Patio Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/SlidingPatioDoor2200">2200 Series Sliding Patio Door</a>
                    </li>
                </ul>
            </nav>
            <h1>
                <img alt="Therma Tru and Doors" class="float-right" src="/images/therma-tru-doors.png" width="200" height="47" /> Entry Doors - Therma-Tru
            </h1>
            <p>
                <img alt="" class="float-left" src="/images/arbor-watch-therma-tru.jpg" width="280" height="116" /> Your home's main entry door is the first thing everyone sees when they come to your house. It is responsible for your protection from heat, cold, rain, wind and danger. However it is also what makes the first impression to your guests. Western Siding understands your needs and is here to provide you with the best door replacement service available in Idaho.
            </p>
            <p>
                <img alt="" class="float-right" src="/images/pulse-therma-tru.jpg" width="280" height="116" />Therma-Tru doors is the nation's leading manufacturer of fiberglass and steel entry door systems. Since 1962, they have been innovating new technologies in the home improvement industry.
            </p>
        </article>
    </div>
</main>
