@page "/entry-doors-boise"
@model BA.WesternSiding.Pages.Doors.EntryDoorsModel
@section Header
{
    <title>Entry Doors @@ Western Siding | Meridian Idaho</title>
    <meta name="description" content="Entry doors function as a welcoming to those who come to visit and should be warm and welcoming. Call Western Siding Today:(208) 855-0100" />"
    <link rel="canonical" href="https://www.westernsiding.com/entry-doors-boise" />
    <meta name="referrer" content="unsafe-url">
    <meta name="og:title" content="Western Siding" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="Entry doors function as a welcoming to those who come to visit and should be warm and welcoming. Call Western Siding Today:(208) 855-0100" />
    <meta name="og:site_name" content="https://westernsiding.com" />
    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "LocalBusiness",
        "logo": "https://westernsiding.com/images/western-siding-logo.png",
        "name": "Western Siding",
        "url": "https://westernsiding.com/",
        "image": "https://westernsiding.com/images/contact-western-siding.jpg",
        "priceRange": "$$$$",
        "telephone": "+1-208-855-0100",
        "address": {
        "streetAddress": "850 W Franklin Rd",
        "addressLocality": "Meridian",
        "addressRegion": "ID",
        "postalCode": "83642",
        "addressCountry": "United States",
        "@@type": "PostalAddress"
        },
        "contactPoint": {
        "@@type": "ContactPoint",
        "contactType": "Sales",
        "email": "Tom@westernsiding.com",
        "telephone": "+1-208-855-0100"
        },
        "sameAs": [
        "https://www.facebook.com/WesternSidingIdaho/"
        ]
        },
        {
        "@@context": "http://schema.org",
        "@@type": "Website",
        "name": "Western Siding",
        "url": "https://westernsiding.com",
        "contentRating": "G",
        "keywords": "siding, doors, windows, installation, replacement, idaho, home exterior",
        "sameAs": [
        "https://www.facebook.com/WesternSidingIdaho/"
        ]
        },
        {
        "@@context": "https://schema.org/",
        "@@type": "Thing",
        "name": "Entry Doors",
        "url": "https://westernsiding.com/entry-doors-boise",
        "image": "https://westernsiding.com/images/arbor-watch-therma-tru.jpg",
        "description": "Entry doors function as a welcoming to those who come to visit and should be warm and welcoming. Call Western Siding Today:(208) 855-0100"
        }
        ]
    </script>
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li class="current">
                        <a asp-page="/Doors/EntryDoors">Entry Doors</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/ClassicFrenchDoor">Classic French Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/RivieraFrenchSlider">Riviera French Slider</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/NewHorizonPatioDoor">New Horizon Patio Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/SlidingPatioDoor2200">2200 Series Sliding Patio Door</a>
                    </li>
                </ul>
            </nav>
            <h1>
                <img alt="Therma Tru and Doors" class="float-right" src="/images/therma-tru-doors.png" width="200" height="47" /> Entry Doors - Therma-Tru
            </h1>
            <p>
                <img alt="" class="float-left" src="/images/arbor-watch-therma-tru.jpg" width="280" height="116" /> Your home's main entry door is the first thing everyone sees when they come to your house. It is responsible for your protection from heat, cold, rain, wind and danger. However it is also what makes the first impression to your guests. Western Siding understands your needs and is here to provide you with the best door replacement service available in Idaho.
            </p>
            <p>
                <img alt="" class="float-right" src="/images/pulse-therma-tru.jpg" width="280" height="116" />Therma-Tru doors is the nation's leading manufacturer of fiberglass and steel entry door systems. Since 1962, they have been innovating new technologies in the home improvement industry.
            </p>
        </article>
    </div>
</main>
