@page "/entry-doors-boise"
@model BA.WesternSiding.Pages.Doors.EntryDoorsModel
@{
    ViewData["Title"] = "Entry Doors | Boise, ID - Western Siding";
}
@section Metatags
{
    <meta name="description" content="Entry Doors - Therma-Tru. Your home's main entry door is the first thing everyone sees when they come to your house. It is...">
    <meta name="keywords" content="">
    <link rel="canonical" href="https://www.westernsiding.com/entry-doors-boise" />
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li class="current">
                        <a asp-page="/Doors/EntryDoors">Entry Doors</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/ClassicFrenchDoor">Classic French Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/RivieraFrenchSlider">Riviera French Slider</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/NewHorizonPatioDoor">New Horizon Patio Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/SlidingPatioDoor2200">2200 Series Sliding Patio Door</a>
                    </li>
                </ul>
            </nav>
            <h1>
                <img alt="Therma Tru and Doors" class="float-right" src="/images/therma-tru-doors.png" width="200" height="47" /> Entry Doors - Therma-Tru
            </h1>
            <p>
                <img alt="" class="float-left" src="/images/arbor-watch-therma-tru.jpg" width="280" height="116" /> Your home's main entry door is the first thing everyone sees when they come to your house. It is responsible for your protection from heat, cold, rain, wind and danger. However it is also what makes the first impression to your guests. Western Siding understands your needs and is here to provide you with the best door replacement service available in Idaho.
            </p>
            <p>
                <img alt="" class="float-right" src="/images/pulse-therma-tru.jpg" width="280" height="116" />Therma-Tru doors is the nation's leading manufacturer of fiberglass and steel entry door systems. Since 1962, they have been innovating new technologies in the home improvement industry.
            </p>
        </article>
    </div>
</main>
