@page "/new-horizon-patio-door-boise"
@model BA.WesternSiding.Pages.Doors.NewHorizonPatioDoorModel
@{
    ViewData["Title"] = "New Horizon Patio Doors | Boise, ID - Western Siding";
}
@section Metatags
{
    <meta name="description" content="Transform your home with the versatile and elegant designs of the New Horizon Patio Door. Available in a variety of configurations to fit...">
    <meta name="keywords" content="">
    <link rel="canonical" href="https://www.westernsiding.com/new-horizon-patio-door-boise" />
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li>
                        <a asp-page="/Doors/EntryDoors">Entry Doors</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/ClassicFrenchDoor">Classic French Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/RivieraFrenchSlider">Riviera French Slider</a>
                    </li>
                    <li class="current">
                        <a asp-page="/Doors/NewHorizonPatioDoor">New Horizon Patio Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/SlidingPatioDoor2200">2200 Series Sliding Patio Door</a>
                    </li>
                </ul>
            </nav>
            <h1>
                New Horizon Patio Door
            </h1>
            <p>
                <img alt="New Horizons Patio Door" class="float-right" src="/images/new-horizons-windows-three.jpg" width="200" height="253" /> Transform your home with the versatile and elegant designs of the New Horizon Patio Door. Available in a variety of configurations to fit your home's design. We offer 2, 3 and 4 panel with optional overhead transoms. This series will complement any home while offering you unparalleled choices.
            </p>
            <h2>
                <img alt="New Horizons Patio Doors" class="float-left" src="/images/new-horizons-windows-two.jpg" width="200" height="252" /> Features
            </h2>
            <ul>
                <li>
                    Heavy Duty plated steel tandem rollers glide above debris on a raised stainless steel monorail track system for continued smooth and easy operation.
                </li>
                <li>
                    Structural metal reinforcement within vertical sash rails enhance performance against outside elements.
                </li>
                <li>
                    Fusions welded frame and sash construction ensures structural integrity with long-term beauty and durability.
                </li>
                <li>
                    Triple seal positive interlocking at meeting rail provides weather tightness and forced entry resistance.
                </li>
            </ul>
        </article>
    </div>
</main>
