@page "/riviera-french-slider-door-boise"
@model BA.WesternSiding.Pages.Doors.RivieraFrenchSliderModel
@{
    ViewData["Title"] = "Riviera French Slider | Boise, ID - Western Siding";
}
@section Metatags
{
    <meta name="description" content="Amerimax Classic French Patio Doors are available with Single Entry, Center Hinged or True French styles. Optional Sidelites may be added with matching...">
    <meta name="keywords" content="">
    <link rel="canonical" href="https://www.westernsiding.com/riviera-french-slider-door-boise" />
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li>
                        <a asp-page="/Doors/EntryDoors">Entry Doors</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/ClassicFrenchDoor">Classic French Door</a>
                    </li>
                    <li class="current">
                        <a asp-page="/Doors/RivieraFrenchSlider">Riviera French Slider</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/NewHorizonPatioDoor">New Horizon Patio Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/SlidingPatioDoor2200">2200 Series Sliding Patio Door</a>
                    </li>
                </ul>
            </nav>
            <h1>
                Riviera French Slider
            </h1>
            <p>
                <img alt="Riviera French Sliding Door from Amerimax" class="float-right" src="/images/riviera-style-french-doors-01.jpg" width="200" height="255" /> The sophistication of the Riviera French Sliding Patio Door is reflected in wide rails and contoured moldings that embrace the glass and enhance the refined design. Combining the traditional wide rail look of a French Door into a sliding door makes it a perfect choice where space or traffic patterns may not allow a hinged or swing style door. Choose from 2, 3 and 4 panel configurations all featuring smooth gliding operation and space saving style.
            </p>
            <h2>
                <img alt="Riviera French Sliding Doors" class="float-left" src="/images/riviera-style-french-doors-02.jpg" width="200" height="257" /> Features
            </h2>
            <ul>
                <li>
                    Multiple configurations to choose from.
                </li>
                <li>
                    Smooth gliding operation with dual tandem rollers on a stainless steel track system.
                </li>
                <li>
                    Incorporates rugged durability with rigid metal reinforcement at the interlocking meeting rail providing weather tightness and forced entry resistance.
                </li>
                <li>
                    Durable anodized aluminum threshold resists wear from traffic and the elements.
                </li>
            </ul>
        </article>
    </div>
</main>
