@page "/riviera-french-slider-door-boise"
@model BA.WesternSiding.Pages.Doors.RivieraFrenchSliderModel
@section Header
{
    <title>Riviera French Sliding Doors @@ Western Siding | Meridian Idaho</title>
    <meta name="description" content="For those looking for a sophisticated door, look no further than the Riviera French Sliding Patio Door. Call Western Siding Today:(208) 855-0100" />"
    <link rel="canonical" href="https://www.westernsiding.com/riviera-french-slider-door-boise" />
    <meta name="referrer" content="unsafe-url">
    <meta name="og:title" content="Western Siding" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="For those looking for a sophisticated door, look no further than the Riviera French Sliding Patio Door. Call Western Siding Today:(208) 855-0100" />
    <meta name="og:site_name" content="https://westernsiding.com" />
    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "WebPage",
        "mainEntity":{
        "@@type": "Product",
        "name": "Riviera French Sliding Doors",
        "url": "https://westernsiding.com/riviera-french-slider-door-boise",
        "image": "https://westernsiding.com/riviera-french-slider-door-boise",
        "description": "For those looking for a sophisticated door, look no further than the Riviera French Sliding Patio Door. Call Western Siding Today:(208) 855-0100",
        "brand": "Amerimax Riviera French Sliding Doors",
        "manufacturer": "Amerimax Windows & Doors",
        "mpn":"12",
        "sku": "0012",
        "Review":{
        "ReviewBody": "They were willing to help, and here to do the repair in a timely manner.",
        "Author":"Debbie Holsinger"
        }
        }},
        {
        "@@context": "https://schema.org/",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "name": "Western Siding Home",
        "item": "https://westernsiding.com"
        },{
        "@@type": "ListItem",
        "position": 2,
        "name": "Door Installation, Door Replacement @@ Western Siding | Boise, Idaho",
        "item": "https://westernsiding.com/door-installation-boise"
        },{
        "@@type": "ListItem",
        "position": 3,
        "name": "Riviera French Sliding Doors @@ Western Siding | Meridian Idaho",
        "item": "https://westernsiding.com/riviera-french-slider-door-boise"
        }]
        }
        ]
    </script>
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li>
                        <a asp-page="/Doors/EntryDoors">Entry Doors</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/ClassicFrenchDoor">Classic French Door</a>
                    </li>
                    <li class="current">
                        <a asp-page="/Doors/RivieraFrenchSlider">Riviera French Slider</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/NewHorizonPatioDoor">New Horizon Patio Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/SlidingPatioDoor2200">2200 Series Sliding Patio Door</a>
                    </li>
                </ul>
            </nav>
            <h1>
                Riviera French Slider
            </h1>
            <p>
                <img alt="Riviera French Sliding Door from Amerimax" class="float-right" src="/images/riviera-style-french-doors-01.jpg" width="200" height="255" /> The sophistication of the Riviera French Sliding Patio Door is reflected in wide rails and contoured moldings that embrace the glass and enhance the refined design. Combining the traditional wide rail look of a French Door into a sliding door makes it a perfect choice where space or traffic patterns may not allow a hinged or swing style door. Choose from 2, 3 and 4 panel configurations all featuring smooth gliding operation and space saving style.
            </p>
            <h2>
                <img alt="Riviera French Sliding Doors" class="float-left" src="/images/riviera-style-french-doors-02.jpg" width="200" height="257" /> Features
            </h2>
            <ul>
                <li>
                    Multiple configurations to choose from.
                </li>
                <li>
                    Smooth gliding operation with dual tandem rollers on a stainless steel track system.
                </li>
                <li>
                    Incorporates rugged durability with rigid metal reinforcement at the interlocking meeting rail providing weather tightness and forced entry resistance.
                </li>
                <li>
                    Durable anodized aluminum threshold resists wear from traffic and the elements.
                </li>
            </ul>
        </article>
    </div>
</main>
