@page "/2200-series-sliding-patio-door"
@model BA.WesternSiding.Pages.Doors.SlidingPatioDoor2200Model
@section Header
{
    <title>2200 Series Sliding Patio Door @@ Western Siding | Meridian Idaho</title>
    <meta name="description" content="The 2200 Series high performance sliding patio door offers superior operation and thermal efficiency. Call Western Siding Today:(208) 855-0100" />"
    <link rel="canonical" href="https://www.westernsiding.com/2200-series-sliding-patio-door" />
    <meta name="referrer" content="unsafe-url">
    <meta name="og:title" content="Western Siding" />
    <meta name="og:type" content="business.business" />
    <meta name="og:URL" content="https://westernsiding.com" />
    <meta name="og:image" content="https://westernsiding.com/images/western-siding-logo.png" />
    <meta name="og:description" content="The 2200 Series high performance sliding patio door offers superior operation and thermal efficiency. Call Western Siding Today:(208) 855-0100" />
    <meta name="og:site_name" content="https://westernsiding.com" />
    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "WebPage",
        "mainEntity":{
        "@@type": "Product",
        "name": "2200 Series Sliding Patio Door",
        "url": "https://westernsiding.com/2200-series-sliding-patio-door",
        "description": "The 2200 Series high performance sliding patio door offers superior operation and thermal efficiency. Call Western Siding Today:(208) 855-0100",
        "brand": "Amerimax 2200 Series Sliding Patio Door",
        "manufacturer": "Amerimax Windows & Doors",
        "mpn":"13",
        "sku": "0013",
        "Review":{
        "ReviewBody": "They were willing to help, and here to do the repair in a timely manner.",
        "Author":"Debbie Holsinger"
        }
        }},
        {
        "@@context": "https://schema.org/",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "name": "Western Siding Home",
        "item": "https://westernsiding.com"
        },{
        "@@type": "ListItem",
        "position": 2,
        "name": "Door Installation, Door Replacement @@ Western Siding | Boise, Idaho",
        "item": "https://westernsiding.com/door-installation-boise"
        },{
        "@@type": "ListItem",
        "position": 3,
        "name": "2200 Series Sliding Patio Door @@ Western Siding | Meridian Idaho",
        "item": "https://westernsiding.com/2200-series-sliding-patio-door"
        }]
        }
        ]
    </script>
}
<main>
    <div class="inner">
        <article id="content">
            <nav id="nav-sub">
                <ul>
                    <li>
                        <a asp-page="/Doors/EntryDoors">Entry Doors</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/ClassicFrenchDoor">Classic French Door</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/RivieraFrenchSlider">Riviera French Slider</a>
                    </li>
                    <li>
                        <a asp-page="/Doors/NewHorizonPatioDoor">New Horizon Patio Door</a>
                    </li>
                    <li class="current">
                        <a asp-page="/Doors/SlidingPatioDoor2200">2200 Series Sliding Patio Door</a>
                    </li>
                </ul>
            </nav>
            <h1>
                2200 Series Sliding Patio Door
            </h1>
            <p>
                The 2200 Series high performance sliding patio door offers superior operation and thermal efficiency, making it an excellent choice for commercial and residential renovation projects as well as new construction. With multiple chambers made of naturally insulating uPVC and the latest in sealing technology, this door provides excellent thermal performance while keeping sound transmission to a minimum.
            </p>
            <h2>
                Features
            </h2>
            <ul>
                <li>
                    Multi-point stainless steel locking bar increases security and product performance.
                </li>
                <li>
                    European saddle rail sash design provides exceptionally smooth, low friction operation and is easy to clean.
                </li>
                <li>
                    Engineered drainage system achieves superior resistance to water leakage.
                </li>
                <li>
                    Interlocking sash enhances structural integrity and resistance to air infiltration.
                </li>
            </ul>
        </article>
    </div>
</main>
